.s-direction {

  @media (min-width: $screen-sm) {
    padding-right: 30px;
  }

  @media (min-width: $screen-lg) {
    padding-right: 60px;
  }

  &__figure {
    margin: 0 0 20px;

    @media (min-width: $screen-sm) {
      margin: 0 0 30px;
    }
  }

  &__title {
    font-size: 28px;
    line-height: 1.3em;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__included {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__included-item {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4em;
    position: relative;
    padding-left: 23px;

    &::before {
      position: absolute;
      content: '';
      top: 7px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: $primary-c;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}