.s-page-header {

  &__wrap {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &__logo {
    margin-right: auto;

    @media (min-width: $screen-sm) {
      order: 1;
    }
  }

  &__nav {

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }

    @media (min-width: $screen-sm) {
      order: 4;
      width: 100%;
    }

    @media (min-width: $screen-xl) {
      margin-right: 75px;
      order: 2;
      width: auto;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      @media (min-width: $screen-sm) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgba(#000, 0.125);
        border-bottom: 1px solid rgba(#000, 0.125);
        padding: 15px 0;
        margin-top: 15px;
      }

      @media (min-width: $screen-xl) {
        border: none;
        padding: 0;
        margin: 0;
      }

      li {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 1.4em;

        @media (min-width: $screen-sm) {

          &:not(:last-child) {
            margin-right: 30px;
          }
        }

        a {
          display: block;
          color: currentColor;
          text-decoration: none;

          &:hover,
          &:focus {
            color: $primary-c;
          }
        }
      }
    }
  }

  &__contacts {

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }

    @media (min-width: $screen-sm) {
      margin-right: 60px;
      order: 3;
    }

    a {
      font-size: 16px;
      line-height: 1.4em;
      display: block;
      font-weight: 500;
      color: currentColor;
      text-decoration: none;
    }
  }

  &__languages {
    position: relative;

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }

    @media (min-width: $screen-sm) {
      order: 3;
    }

    @media (min-width: $screen-xl) {
      order: 4;
    }

    &::after {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      width: 10px;
      height: 6px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3E%3Cpath stroke='%23000' d='M9 1L5 5 1 1'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: translateY(-50%);
    }

    &:hover {

      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &:hover > .s-page-header__other-languages,
    &:focus-within > .s-page-header__other-languages,
    & .s-page-header__other-languages:hover,
    & .s-page-header__other-languages:focus {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__current-language {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: currentColor;
    text-decoration: none;
    cursor: default;
    padding: 10px 25px 10px 15px;

    svg {
      display: block;
      margin-right: 10px;
    }

    span {
      display: block;
    }
  }

  &__other-languages {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    padding: 10px 35px 10px 15px;
    border-radius: 4px;
    box-shadow: 0 10px 15px rgba(#000, 0.125);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;

        &:not(:last-child) {
          margin-bottom: 5px;
        }

        a {
          white-space: nowrap;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          color: currentColor;
          text-decoration: none;

          svg {
            display: block;
            margin-right: 10px;
          }

          span {
            display: block;
          }
        }
      }
    }
  }

  &__burger {
    display: block;
    position: relative;
    margin: 0;
    border: none;
    padding: 0;
    outline: none;
    color: currentColor;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    margin-left: 20px;

    &::before {
      content: '';
      position: absolute;
      top: -1em;
      right: -1em;
      bottom: -1em;
      left: -1em;
    }

    svg {
      display: block;
      stroke: currentColor;
    }

    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}