.s-project {
  padding: 45px 20px;

  @media (min-width: $screen-sm) {
    padding: 60px 30px;
  }

  @media (min-width: $screen-md) {
    padding: 90px 30px;
  }

  &__header {
    margin-bottom: 30px;

    @media (min-width: $screen-sm) {
      margin-bottom: 45px;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    font-size: 28px;
    line-height: 1.3em;
    letter-spacing: -0.01em;
    font-weight: 500;
    max-width: 25ch;
    margin: 0;

    @media (min-width: $screen-md) {
      font-size: 39px;
      line-height: 1.1em;
    }
  }

  &__wrap {

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 0 20px;
      grid-template:
        'body media'
        'completed completed' / 7fr 5fr;
    }

    @media (min-width: $screen-md) {
      gap: 0 20px;
      grid-template:
        'body . media'
        'completed completed completed' / 7fr 1fr 4fr;
    }
  }

  &__body {

    @media (min-width: $screen-sm) {
      grid-area: body;
    }
  }

  &__data {
    margin-bottom: 30px;

    @media (min-width: $screen-sm) {
      margin: 0 0 45px;
    }
  }

  &__data-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__data-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 16px;
    line-height: 1.4em;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__data-figure {
    margin: 0 15px 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
  }

  &__info-list {
    border-top: 2px solid $primary-c;
    margin: 0;
  }

  &__info-group {
    padding: 15px 0;
    border-bottom: 2px solid $primary-c;
    font-size: 16px;
    line-height: 1.4em;

    @media (min-width: 375px) {
      display: grid;
      gap: 0 20px;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-sm) {
      padding: 30px 0;
    }
  }

  &__term {
    margin: 0;
    font-weight: 500;

    @media (min-width: 375px) {
      grid-column: 1 / span 3;
    }
  }

  &__desc {
    margin: 0;

    @media (min-width: 375px) {
      grid-column: 4 / span 4;
    }
  }

  &__completed {
    margin-top: 30px;

    @media (min-width: $screen-sm) {
      grid-area: completed;
      margin-top: 45px;
    }
  }

  &__completed-caption {
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;
    max-width: 70ch;
  }

  &__completed-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__completed-item {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4em;
    position: relative;
    padding-left: 23px;
    max-width: 70ch;

    &::before {
      position: absolute;
      content: '';
      top: 7px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: $primary-c;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__media {
    position: relative;
    height: 300px;
    margin-top: 30px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @media (min-width: $screen-sm) {
      grid-area: media;
      height: auto;
      margin-top: 0;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__accent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    color: #fff;

    span {
      display: block;
      font-weight: 700;
      white-space: nowrap;

      &:nth-child(1) {
        font-size: 113px;
        line-height: 1em;
        letter-spacing: -0.1em;
        transform: translateX(-0.25em);
      }

      &:nth-child(2) {
        font-size: 16px;
        line-height: 1.4em;
      }

      &:nth-child(3) {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 1.2em;
        letter-spacing: 0.05em;
      }
    }
  }
}