.s-mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 0s linear 0.75s;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 1.75s $transition-t--faster;
  }

  &__wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: transform .75s $transition-t--faster;
    transform: translateX(100%);
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-width: 300px;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    transition: all 1.75s $transition-t--faster;
    opacity: 0;
    transform: translateX(45px);
  }

  &__close {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
    overflow: visible;
    color: currentColor;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 45px;
    outline: none;
    background-color: #fff;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: scale(0);
      transition: transform 1s $transition-t--faster;
      transform-origin: center center;
      background-color: $primary-c;
      border-radius: 45px;
    }

    &:hover {

      &::before {
        transform: scale(1.05);
      }

      svg {
        stroke: #fff;
      }

      .s-mobile-menu__close-icon {
        transform: translateX(0) rotate(90deg);
        transition-delay: 0.1s;
      }
    }
  }

  &__close-icon {
    position: relative;
    display: inline-block;
    transition: transform .75s $transition-t--faster;
    flex-shrink: 0;
    pointer-events: none;

    svg {
      display: block;
      width: 15px;
      height: 15px;
      transition: stroke .75s $transition-t--faster;
      stroke-width: 2px;
      stroke: #000;
    }
  }

  &__main {
    padding: 30px;
    transition: opacity 1.75s $transition-t--faster,transform 1.75s $transition-t--faster;
    opacity: 0;
    transform: translateX(45px);
    transition-delay: .2s;
    flex-grow: 1;
  }

  &__nav {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 1.4em;

        &:not(:last-child) {
          margin-bottom: 5px;
        }

        a {
          display: inline-block;
          color: currentColor;
          text-decoration: none;
        }
      }
    }
  }

  &__footer {
    padding: 30px;
    transition: opacity 1.75s $transition-t--faster,transform 1.75s $transition-t--faster;
    opacity: 0;
    transform: translateX(45px);
    transition-delay: .4s;
    flex-shrink: 0;
  }

  &__caption {
    font-size: 12px;
    line-height: 1.5em;
    opacity: 0.5;
  }

  &--is-active {
    visibility: visible;
    transition-delay: 0s;

    .s-mobile-menu__bg {
      opacity: 0.2;
    }

    .s-mobile-menu__wrap,
    .s-mobile-menu__header,
    .s-mobile-menu__main,
    .s-mobile-menu__footer {
      opacity: 1;
      transform: translateX(0);
    }
  }
}