mixin mobile-menu()

  aside.s-mobile-menu
    .s-mobile-menu__bg
    .s-mobile-menu__wrap
      header.s-mobile-menu__header
        button.s-mobile-menu__close
          span.s-mobile-menu__close-icon
            svg(viewbox='0 0 29 29')
              g(fill='none', fill-rule='evenodd', stroke-linecap='square')
                path(d='M1.253 1.678l25.844 25.844')
                path(d='M1.253 27.522L27.097 1.678')

      .s-mobile-menu__main
        .s-mobile-menu__nav
          ul
            li
              a(href='/') О компании
            li
              a(href='/') Услуги
            li
              a(href='/') Проекты
            li
              a(href='/') Георгафия
            li
              a(href='/') Контакты

      footer.s-mobile-menu__footer
        .s-mobile-menu__caption
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, vero?