.s-directions {
  padding: 0 20px;

  @media (min-width: $screen-sm) {
    padding: 0 30px;
  }

  &__section {
    padding: 45px 0;

    @media (min-width: $screen-sm) {
      padding: 60px 0;
    }

    @media (min-width: $screen-md) {
      padding: 75px 0;
    }

    &--profile {
      border-bottom: 2px solid $primary-c;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    font-size: 28px;
    line-height: 1.3em;
    letter-spacing: -0.01em;
    font-weight: 500;
    max-width: 25ch;
    margin-top: 0;
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      font-size: 39px;
      line-height: 1.1em;
      margin-bottom: 60px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 45px 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @media (min-width: $screen-sm) {
      gap: 60px 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
  }
}