.s-appeal {
  padding: 45px 20px;

  @media (min-width: $screen-sm) {
    padding: 60px 30px;
  }

  @media (min-width: $screen-md) {
    padding: 90px 30px;
  }

  &__wrap {

    @media (min-width: $screen-md) {
      display: grid;
      gap: 0 20px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;
    }
  }

  &__media {
    position: relative;
    z-index: 1;

    &::after {
      display: block;
      content: '';
      padding-bottom: (9 / 16) * 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }

    @media (min-width: $screen-md) {
      grid-column: 1 / span 12;
      margin-bottom: -45px;
    }
  }

  &__ceo-info {
    background-color: $primary-c;
    color: #fff;
    padding: 20px;
    position: relative;
    z-index: 2;

    @media (min-width: $screen-sm) {
      padding: 25px 30px;
    }

    @media (min-width: $screen-md) {
      padding: 30px 45px;
      grid-column: 5 / span 6;
    }
  }

  &__ceo-name {
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__ceo-caption {
    font-size: 14px;
    line-height: 1.4em;
    opacity: 0.75;
  }

  &__appeal {
    margin-top: 30px;
    position: relative;
    z-index: 2;

    @media (min-width: $screen-md) {
      margin-top: 45px;
      grid-column: 2 / span 10;
      display: grid;
      gap: 0 20px;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: auto;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 1px;
        background: linear-gradient(180deg, $primary-c, $primary-c 50%, transparent 50%, transparent 100%);
        background-size: 5px 10px;
        height: 100%;
        opacity: 0.25;
        transform: translateX(-50%);
      }
    }
  }

  &__intro {
    font-size: 28px;
    line-height: 1.3em;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin-bottom: 20px;

    @media (min-width: $screen-md) {
      grid-column: 2 / span 2;
      margin-bottom: 30px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5em;

    p + p {
      margin-top: 1em;
    }

    @media (min-width: $screen-md) {
      grid-column: 4 / span 6;
    }
  }

  &__accent {
    font-size: 28px;
    line-height: 1.3em;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin-top: 30px;

    @media (min-width: $screen-md) {
      margin-top: 75px;
      grid-column: 2 / span 8;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        transform: translate3d(-8px,10px,0);
        background-color: $primary-c;
        width: 16px;
        height: 16px;
        border-radius: 16px;
      }
    }
  }
}