.s-in-numbers {
  background-color: #f6f6f6;
  padding: 45px 20px;

  @media (min-width: $screen-sm) {
    padding: 60px 30px;
  }

  @media (min-width: $screen-md) {
    padding: 90px 30px;
  }

  &__wrap {
    overflow: hidden;

    @media (min-width: $screen-md) {
      display: grid;
      gap: 0 20px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;
    }
  }

  &__content {
    position: relative;

    @media (min-width: $screen-md) {
      grid-column: 2 / span 10;
      display: grid;
      gap: 0 20px;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: auto;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 1px;
        background: linear-gradient(180deg, $primary-c, $primary-c 50%, transparent 50%, transparent 100%);
        background-size: 5px 10px;
        height: 100%;
        opacity: 0.25;
        transform: translateX(-50%);
      }
    }
  }

  &__intro {

    @media (min-width: $screen-md) {
      grid-column: 2 / span 8;
      display: grid;
      gap: 0 20px;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: auto;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        transform: translate3d(-8px,0,0);
        background-color: $primary-c;
        width: 16px;
        height: 16px;
        border-radius: 16px;
      }
    }
  }

  &__title {
    font-size: 28px;
    line-height: 1.3em;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin-bottom: 20px;

    @media (min-width: $screen-md) {
      grid-column: 1 / span 8;
      margin-bottom: 30px;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 1.5em;
    position: relative;

    @media (min-width: $screen-md) {
      grid-column: 3 / span 6;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        right: calc(100% + 60px);
        width: 40px;
        height: 40px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 40 40'%3E%3Cpath fill='%232CA84C' d='M0 4.8e-7L.00000197 40H11V0L0 4.8e-7z'/%3E%3Cpath fill='%232CA84C' d='M40 29H.00000149l4.8e-7 11H40V29z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }

  &__list {
    margin-top: 45px;

    @media (min-width: $screen-sm) {
      margin-top: 60px;
    }

    @media (min-width: $screen-md) {
      grid-column: 2 / span 8;
      margin-top: 75px;
    }
  }

  &__row {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 60px 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: -100%;
        width: 300%;
        background: linear-gradient(90deg, $primary-c, $primary-c 50%, transparent 50%, transparent 100%);
        background-size: 10px 5px;
        height: 1px;
        opacity: 0.25;
      }

      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
  }

  &__item {
    position: relative;

    @media (max-width: ($screen-md - 1px)) {

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media (min-width: $screen-md) {
      padding-top: 30px;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        transform: translate3d(0,-8px,0);
        background-color: $primary-c;
        width: 16px;
        height: 16px;
        border-radius: 16px;
      }
    }
  }

  &__num {
    font-size: 79px;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: -0.01em;

    @media (min-width: $screen-md) {
      font-size: 113px;
      letter-spacing: -0.015em;
      margin-left: -0.025em;
    }
  }

  &__num-caption {
    font-size: 16px;
    line-height: 1.4em;
    max-width: 35ch;
  }
}