include ../blocks/activities-map/activities-map.pug
include ../blocks/btn/btn.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
