extends ../pug/layout.pug

block meta
  - var title = 'Appeal';
  title= title
  meta(name='description', content='')

block content
  .s-appeal
    .container
      .s-appeal__wrap

        .s-appeal__media
          img(src='img/ceo.jpg', alt='')

        .s-appeal__ceo-info
          .s-appeal__ceo-name
            | Артем Александрович Титков
          .s-appeal__ceo-caption
            | Генеральный директор ГК «Специалист»

        .s-appeal__appeal
          .s-appeal__intro
            | Дорогие
            br
            | друзья!
          .s-appeal__text
            p Группа компаний «Специалист» 10 лет оказывает комплексную поддержку инвестиционным и горнодобывающим предприятиям России. Создавая компанию в 2011 году, я заложил основные принцыпы нашей деятельности. Это честность, объективность и конфиденциальность информации, а также интегративное взаимодействие с каждым заказчиком.
            p Безусловно, главным нашим ресурсом является интеллектуальная составляющая. Для каждого проекта мы подбираем команду лучших в своем деле специалистов. Знания и 35-летний опыт работы наших экспертов в горнодобывающей сфере обеспечивают разработку наиболее эффективных и оптимальных решений для наших клиентов.
            p Цели нашей компании — поддерживать и укреплять ту высокую репутацию, которую мы уже завоевали, повышать профессионализм, расширять проектную базу. Свою миссию мы видим в том, чтобы стать лучшей компанией по поддержке инвестиционных и горнодобывающих предприятий в России, в развитии гор- нодобывающего комплекса страны через повышение эффективности, экономичности и безопасности проводимых работ.
          .s-appeal__accent
            | Я твердо уверен, что у нашей компании большое будущее. Убежден, что благодаря эффективной работе команды, нашим партнерам и клиентам мы добьемся реализации поставленных задач и высоких результатов.



  .s-in-numbers
    .container
      .s-in-numbers__wrap
        .s-in-numbers__content

          .s-in-numbers__intro
            .s-in-numbers__title
              | ГК «Специалист» на протяжении 10 лет осуществляет комплексную поддержку организаций в сфере недропользования.
            .s-in-numbers__desc
              p
                | Компания проводит полный комплекс работ по обеспечению добычи твердых полезных ископаемых, разработку необходимой проектной документации и еe согласование в государственных инстанциях.

          .s-in-numbers__list
            .s-in-numbers__row
              .s-in-numbers__item
                .s-in-numbers__num
                  | 250
                .s-in-numbers__num-caption
                  | Млн. м
                  sup 3
                  |  запасов лет успешной твердых полезных деятельности в сфере ископаемых
              .s-in-numbers__item
                .s-in-numbers__num
                  | 10
                .s-in-numbers__num-caption
                  | Лет успешной деятельности в сфере недропользованияя
            .s-in-numbers__row
              .s-in-numbers__item
                .s-in-numbers__num
                  | 115
                .s-in-numbers__num-caption
                  | Заказчиков по всей России
              .s-in-numbers__item
                .s-in-numbers__num
                  | 578
                .s-in-numbers__num-caption
                  | Выполненных проектов
