extends ../pug/layout.pug

block meta
  - var title = 'Directions';
  title= title
  meta(name='description', content='')

block content
  .s-directions
    .container

      .s-directions__section.s-directions__section--profile
        span.s-directions__subtitle Профиль компании
        h2.s-directions__title Полный цикл работ от разведки до разработки местрождений
        ul.s-directions__list

          li.s-directions__item
            article.s-direction
              figure.s-direction__figure
                img(src='img/audit.svg', alt='', width='60', height='60')
              h3.s-direction__title Аудит, оценка объектов
              ul.s-direction__included
                li.s-direction__included-item Оценка ресурсной базы месторождения и текущая оценка запасов.
                li.s-direction__included-item Сопоставление данных разведки и эксплуатации.
                li.s-direction__included-item Оперативная оценка текущего состояния горных работ.
                li.s-direction__included-item Оценка выбранной технологии обогащения.
                li.s-direction__included-item Аудит разрешительной документации.
                li.s-direction__included-item Аудит финансовой модели и бюджетов.
                li.s-direction__included-item Аудит кадрового потенциала предприятия.
                li.s-direction__included-item Рекомендации по улучшению операционных показателей.

          li.s-directions__item
            article.s-direction
              figure.s-direction__figure
                img(src='img/expertise.svg', alt='', width='60', height='60')
              h3.s-direction__title Судебная экспертиза
              .s-direction__included-item Оценка ресурсной базы месторождения и текущая оценка запасов.



      .s-directions__section
        span.s-directions__subtitle Направления деятельности
        h2.s-directions__title Решая нестандартные вопросы, мы руководствуемся лучшими
        ul.s-directions__list

          li.s-directions__item
            article.s-direction
              figure.s-direction__figure
                img(src='img/licensing.svg', alt='', width='60', height='60')
              h3.s-direction__title Лицензирование
              .s-direction__included-item Подготовка конкурсной, аукционной документации.

          li.s-directions__item
            article.s-direction
              figure.s-direction__figure
                img(src='img/engineering.svg', alt='', width='60', height='60')
              h3.s-direction__title Техническое проектирование
              .s-direction__included-item Проектирование горных работ.

          li.s-directions__item
            article.s-direction
              figure.s-direction__figure
                img(src='img/exploration.svg', alt='', width='60', height='60')
              h3.s-direction__title Геологоразведочные работы
              ul.s-direction__included
                li.s-direction__included-item Разработка ТЭО кондиций.
                li.s-direction__included-item Разработка проекта геологоразведочных работ.
                li.s-direction__included-item Выполнение буровых работ.
                li.s-direction__included-item Выполнение лабораторных испытаний.
                li.s-direction__included-item Проведение геологоразведочных работ по любым видам ТПИ.

          li.s-directions__item
            article.s-direction
              figure.s-direction__figure
                img(src='img/mine.svg', alt='', width='60', height='60')
              h3.s-direction__title Маркшейдерское обслуживание
              ul.s-direction__included
                li.s-direction__included-item Проведение маркшейдерской съемки.
                li.s-direction__included-item Маркшейдерское обслуживание.

          li.s-directions__item
            article.s-direction
              figure.s-direction__figure
                img(src='img/approval.svg', alt='', width='60', height='60')
              h3.s-direction__title Утверждение запасов
              ul.s-direction__included
                li.s-direction__included-item Подсчет запасов твердых полезных ископаемых.
                li.s-direction__included-item Подготовка отчетов в соответствии с требованиями JORC.

          li.s-directions__item
            article.s-direction
              figure.s-direction__figure
                img(src='img/recultivation.svg', alt='', width='60', height='60')
              h3.s-direction__title Рекультивация
              ul.s-direction__included
                li.s-direction__included-item Разработка проектов рекультивации.
                li.s-direction__included-item Экологическая экспертиза проектов рекультивации.