
extends ../pug/layout.pug

block meta
  - var title = 'Georgaphy';
  title= title
  meta(name='description', content='')

block header
  article.s-geography
    .container
      header.s-geography__header
        span.s-geography__subtitle География деятельности
        h2.s-geography__title Компания проводит полный комплекс работ по обеспечению добычи твердых полезных ископаемых на всей территории России

      .s-geography__body
        .s-geography__label.s-geography__label--neva
          span.s-geography__label-title
            | Автомобильная
            br
            | дорога М-11
            br
            | “Нева”
        .s-geography__label.s-geography__label--water
          span.s-geography__label-title
            | Вода Крыма
          span.s-geography__label-desc
            | Республика Крым
        .s-geography__label.s-geography__label--roads
          span.s-geography__label-title
            | Автомобильные
            br
            | дороги Забайкалья
          span.s-geography__label-desc
            | Читинская область,
            br
            | Забайкальский край
        .s-geography__label.s-geography__label--strenth
          span.s-geography__label-title
            | Газопровод
            br
            | “Сила Сибири”
          span.s-geography__label-desc
            | Саха (Якутия)
        .s-geography__label.s-geography__label--transoil
          span.s-geography__label-title
            | Транснефть
            br
            | Дальний восток
          span.s-geography__label-desc
            | Приморский край
        .s-geography__label.s-geography__label--gold
          span.s-geography__label-title
            | Золоторудное
            br
            | месторождение
            br
            | “Озерновское”
          span.s-geography__label-desc
            | Камчатский край
        .s-geography__label.s-geography__label--rosoil
          span.s-geography__label-title
            | Роснефть
            br
            | г. Находка
          span.s-geography__label-desc
            | Приморский край
        .s-geography__map
          +activities-map

      footer.s-geography__footer
        .s-geography__activities
          h3.s-geography__footer-subtitle Виды деятельности на карте
          ul.s-geography__activities-types
            li.s-geography__activities-type.s-geography__activities-type--licencing Лицензирование
            li.s-geography__activities-type.s-geography__activities-type--geological Геологоразведочные работы
            li.s-geography__activities-type.s-geography__activities-type--approval Утверждение запасов
            li.s-geography__activities-type.s-geography__activities-type--engineering Техническое проектирование
            li.s-geography__activities-type.s-geography__activities-type--mine Маркшейдерское обслуживание
            li.s-geography__activities-type.s-geography__activities-type--recultivation Рекультивация
        .s-geography__subjects
          h3.s-geography__footer-subtitle Проекты в регионах
          ul.s-geography__subjects-list
            li Москва
            li Московская область
            li Санкт-Петербург
            li Ленинградская область
            li Калужская область
            li Краснодарский край
            li Тверская область
            li Ярославская область
            li Тульская область
            li Новгородская область
            li Владимирская область
            li Новосибирск и область
            li Оренбургская область
            li Ульяновская область
            li Республика Башкортостан
            li Ивановская область
            li Нижегородская область
            li Псковская область
            li Кировская область
            li Алтайский край
            li Хабаровский край
            li Камчатский край
            li Амурская область
            li Республика Бурятия
            li Иркутская область
            li Республика Саха (Якутия)
            li Ямало-Ненецкий АО
            li Приморский край
            li Республика Крым