extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header
  .s-page-header
    .container
      .s-page-header__wrap

        .s-page-header__logo
          img(src='img/logo.svg', alt='', width='166', height='50')

        nav.s-page-header__nav
          ul
            li
              a(href='/') О компании
            li
              a(href='/') Услуги
            li
              a(href='/') Проекты
            li
              a(href='/') Георгафия
            li
              a(href='/') Контакты

        .s-page-header__contacts
          a(href='tel:+78125657511') +7 (812) 565-75-11

        .s-page-header__languages
          span.s-page-header__current-language
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 14', width='20', height='14')
              path(fill='#F0F0F0', d='M0 0v13.9997h20V0H0z')
              path(fill='#0052B4', d='M20 .00011826H0V14h20V.00011826z')
              path(fill='#F0F0F0', d='M20 .00011826H0V4.66658h20V.00011826z')
              path(fill='#D80027', d='M20 9.33308H0v4.66642h20V9.33308z')
            span Рус

          .s-page-header__other-languages
            ul
              li
                a(href='/')
                  svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 14', width='20', height='14')
                    path(fill='#D80027', d='M20 0H0v14h20V0z')
                    path(fill='#FFDA44', d='M6.55638 3.38516l.75952 2.45446h2.45794L7.78532 7.35657l.75958 2.45457-1.98852-1.51701-1.98852 1.51701.75953-2.45457-1.98852-1.51695H5.7968l.75958-2.45446zM11.3437 11.5487l-.7458-.5689-.74562.5688.28472-.9203-.74564-.5689h.92174l.2848-.9205.2849.9205h.9217l-.7457.5688.2849.9205zM13.2888 8.73731h-.9216l-.2849.92036-.2848-.92031-.9218-.00005.7458-.5689-.2849-.92042.7457.56879.7457-.56879-.2848.92042.7456.5689zM13.2888 5.26223l-.7456.5689.2848.92036-.7457-.56879-.7457.5689.2849-.92052-.7458-.56874.9219-.00011.2847-.92046.2849.92046h.9216zM11.3436 2.45087l-.2848.92047.7457.56879-.9217.00005-.2849.92052-.2849-.92057-.92164.00011.74564-.56896-.28478-.92047.74568.5689.7457-.56884z')
                  span Кит
              li
                a(href='/')
                  svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 14', width='20', height='14')
                    path(fill='#F0F0F0', d='M20 .00012207H0V14h20V.00012207z')
                    path(fill='#D80027', d='M11.25 0h-2.5v5.68736H0v2.62495h8.75v5.68739h2.5V8.31231H20V5.68736h-8.75V0z')
                    path(fill='#0052B4', d='M15.3823 9.43456l4.6178 2.69374V9.43456h-4.6178zM12.174 9.43456L20 13.9997v-1.2909l-5.613-3.27424h-2.213zM17.9154 13.9996l-5.7414-3.3494v3.3494h5.7414z')
                    path(fill='#F0F0F0', d='M12.174 9.43456L20 13.9997v-1.2909l-5.613-3.27424h-2.213z')
                    path(fill='#D80027', d='M12.174 9.43456L20 13.9997v-1.2909l-5.613-3.27424h-2.213z')
                    path(fill='#0052B4', d='M3.52895 9.43448L0 11.493V9.43448h3.52895zM7.82608 10.015v3.9847H.995728L7.82608 10.015z')
                    path(fill='#D80027', d='M5.61301 9.43456L0 12.7088v1.2909l7.82609-4.56514H5.61301z')
                    path(fill='#0052B4', d='M4.61777 4.56513L0 1.87144v2.69369h4.61777zM7.82609 4.56511L0 0v1.2909l5.61301 3.27421h2.21308zM2.08459 0l5.74149 3.34943V0H2.08459z')
                    path(fill='#F0F0F0', d='M7.82609 4.56511L0 0v1.2909l5.61301 3.27421h2.21308z')
                    path(fill='#D80027', d='M7.82609 4.56511L0 0v1.2909l5.61301 3.27421h2.21308z')
                    path(fill='#0052B4', d='M16.4711 4.56526L20 2.50672v2.05854h-3.5289zM12.174 3.98468V.00004578h6.8303L12.174 3.98468z')
                    path(fill='#D80027', d='M14.387 4.56511L20 1.2909V0l-7.826 4.56511h2.213z')
                  span Анг

        button.s-page-header__burger(type='button')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 22 14', width='22', height='14')
            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 1h20')
            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 7h20')
            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 13h20')


  +mobile-menu()