extends ../pug/layout.pug

block meta
  - var title = 'Project';
  title= title
  meta(name='description', content='')

block content
  .s-project
    .container

      .s-project__header
        span.s-project__subtitle Проект
        h1.s-project__title
          | Транснефть
          br
          | Дальний Восток

      .s-project__wrap
        .s-project__body

          .s-project__data
            ul.s-project__data-list
              li.s-project__data-item
                figure.s-project__data-figure
                  img(src='img/location.svg', alt='', width='20', height='26')
                span Амурская область, Хабаровском край
              li.s-project__data-item
                figure.s-project__data-figure
                  img(src='img/square.svg', alt='', width='22', height='22')
                span 145 га
              li.s-project__data-item
                figure.s-project__data-figure
                  img(src='img/geological.svg', alt='', width='18', height='30')
                span Полный цикл геологоразведочных и проектных работ

          .s-project__info
            dl.s-project__info-list
              .s-project__info-group
                dt.s-project__term Заказчик
                dd.s-project__desc ООО «Транснефть ‒ Дальний Восток»
              .s-project__info-group
                dt.s-project__term Объекты
                dd.s-project__desc
                  | 8 месторождений строительного камня,
                  br
                  | 2 месторождения песка и песчано-гравийных пород
              .s-project__info-group
                dt.s-project__term Общий объем полезного ископаемого
                dd.s-project__desc
                  | Более 12 млн. м
                  sup 3

        .s-project__media
          img(src='img/transneft.jpg', alt='')
          .s-project__accent
            span >12
            span
              | млн. м
              sup 3
            span ископаемого


        .s-project__completed
          h3.s-project__completed-caption Виды выполненных работ
          ul.s-project__completed-list
            li.s-project__completed-item Проведен полный цикл геологоразведочных и проектных работ.
            li.s-project__completed-item Разработана проектная документация на проведение геологической разведки месторождений.
            li.s-project__completed-item Выполнены работы по геологическому изучению недр.
            li.s-project__completed-item Запасы полезного ископаемого поставлены на баланс и государственную экспертизу запасов.
            li.s-project__completed-item Подготовлены технические проекты на разработку месторождений.
            li.s-project__completed-item Получены положительные экспертизы.