.s-geography {
  padding: 45px 20px;

  @media (min-width: $screen-sm) {
    padding: 60px 30px;
  }

  @media (min-width: $screen-md) {
    padding: 90px 30px;
  }

  &__header {
    margin-bottom: 30px;

    @media (min-width: $screen-sm) {
      margin-bottom: 45px;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    font-size: 28px;
    line-height: 1.3em;
    letter-spacing: -0.01em;
    font-weight: 500;
    max-width: 35ch;
    margin-top: 0;
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      font-size: 39px;
      line-height: 1.1em;
      margin-bottom: 60px;
    }
  }

  &__body {
    position: relative;
  }

  &__label {
    position: absolute;
    background-color: rgba(#000, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    border-radius: 170px;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: 125ms $transition-t;
    transform: scale(0.95);

    @media (max-width: ($screen-md - 1px)) {
      display: none;
    }

    &--neva {
      top: 90px;
      left: 20px;
    }

    &--water {
      top: 320px;
      left: -20px;
    }

    &--roads {
      top: 320px;
      left: 320px;
    }

    &--strenth {
      top: 165px;
      right: 400px;
    }

    &--transoil {
      top: 310px;
      right: 210px;
    }

    &--gold {
      top: 100px;
      right: 0;
    }

    &--rosoil {
      bottom: 10px;
      right: 20px;
    }

    &--is-active {
      opacity: 1;
      transform:  scale(1);
    }
  }

  &__label-title {
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 700;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
      background-color: $primary-c;
      height: 5px;
      width: 30px;
    }
  }

  &__label-desc {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.3em;
    font-weight: 500;
  }

  &__footer {
    margin-top: 45px;
    border-top: 2px solid $primary-c;
    padding-top: 30px;

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 0 20px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-sm) {
      margin-top: 60px;
    }
  }

  &__activities {
    margin-bottom: 30px;

    @media (min-width: $screen-xs) {
      grid-column: 1 / span 5;
    }

    @media (min-width: $screen-sm) {
      grid-column: 1 / span 3;
    }
  }

  &__subjects {

    @media (min-width: $screen-xs) {
      grid-column: 6 / span 7;
    }

    @media (min-width: $screen-sm) {
      grid-column: 7 / span 6;
    }
  }

  &__footer-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
    margin: 0 0 15px;
  }

  &__activities-types {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__activities-type {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4em;
    position: relative;
    padding-left: 23px;

    &::before {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &--licencing {

      &::before {
        top: 6px;
        left: 1px;
        width: 10px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Cpath fill='%2364A651' fill-rule='evenodd' d='M5 10c2.76184 0 5-2.24005 5-5.00077C10 2.24004 7.76184 0 5 0 2.23969 0 0 2.24004 0 4.99923 0 7.75995 2.23969 10 5 10z' clip-rule='evenodd'/%3E%3C/svg%3E");
      }
    }

    &--geological {

      &::before {
        top: 6px;
        left: 1px;
        width: 10px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Cpath fill='%2364A651' fill-rule='evenodd' d='M0 10h10V0H0v10z' clip-rule='evenodd'/%3E%3C/svg%3E");
      }
    }

    &--approval {

      &::before {
        top: 4px;
        left: 0;
        width: 12px;
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Cpath fill='%2364A651' fill-rule='evenodd' d='M0 6.00002L5.99998 12 12 6.00002 5.99998 0 0 6.00002z' clip-rule='evenodd'/%3E%3C/svg%3E");
      }
    }

    &--engineering {

      &::before {
        top: 5px;
        left: 0;
        width: 12px;
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 12'%3E%3Cpath fill='%2364A651' fill-rule='evenodd' d='M4.145 3.95083L0 4.5839l2.99763 3.07415L2.29 12l3.70842-2.04999L9.70685 12l-.70921-4.34195L12 4.5839l-4.14657-.63307L5.99842 0 4.145 3.95083z' clip-rule='evenodd'/%3E%3C/svg%3E");
      }
    }

    &--mine {

      &::before {
        top: 6px;
        left: 0;
        width: 12px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 10'%3E%3Cpath fill='%2364A651' fill-rule='evenodd' d='M0 10h12L5.61848 0 0 10z' clip-rule='evenodd'/%3E%3C/svg%3E");
      }
    }

    &--recultivation {

      &::before {
        top: 6px;
        left: 0;
        width: 12px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 10'%3E%3Cpath fill='%2364A651' fill-rule='evenodd' d='M0 0l6.38151 10L12 0H0z' clip-rule='evenodd'/%3E%3C/svg%3E");
      }
    }
  }

  &__subjects-list {
    list-style: none;
    margin: 0;
    padding: 0;
    columns: 2;
    gap: 20px;

    li {
      margin: 0;
      padding: 0;
      font-size: 16px;
      line-height: 1.4em;
      position: relative;
      padding-left: 23px;

      &::before {
        position: absolute;
        content: '';
        top: 5px;
        left: 1px;
        width: 8px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 8 10'%3E%3Cpath fill='%2364A651' d='M8 4c0 2.20914-4 6-4 6S0 6.20914 0 4s1.79086-4 4-4 4 1.79086 4 4z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}