mixin activities-map()

  svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 1180 609')
    path#subject(fill='#F2F2F2', fill-rule='evenodd', d='M937.399 120.454l-.971 2.747 2.425 1.615 2.741-1.615-.966-3.391-3.229.644z', clip-rule='evenodd')
    path#subject_2(fill='#F2F2F2', fill-rule='evenodd', d='M706.352 193.791l4.427 3.515 2.032-3.207.678-2.651-2.461-1.541-2.954-.432-1.722 4.316z', clip-rule='evenodd')
    path#subject_3(fill='#F2F2F2', fill-rule='evenodd', d='M697.739 204.213l1.413 1.786 4.921-3.022-1.107-2.958-3.076-.123-1.722 2.651-.429 1.666z', clip-rule='evenodd')
    path#subject_4(fill='#F2F2F2', fill-rule='evenodd', d='M806.746 158.408l7.43.967.322 3.716-2.907.807-3.389-2.101-1.456-3.389z', clip-rule='evenodd')
    path#subject_5(fill='#F2F2F2', fill-rule='evenodd', d='M826.287 146.133l1.293 5.974h3.068l.646-5.329-3.069-2.583-1.938 1.938z', clip-rule='evenodd')
    path#subject_6(fill='#F2F2F2', fill-rule='evenodd', d='M833.069 151.138v6.784l7.59-1.614 7.108-3.716-2.421-5.492-4.687-.645-3.551-.807-2.585 3.877-1.454 1.613z', clip-rule='evenodd')
    path#subject_7(fill='#F2F2F2', fill-rule='evenodd', d='M835.493 113.349l2.263 4.845 14.532.161 4.201-7.752-2.748-5.976-3.068 3.394-5.975-.485-1.615 2.743h-3.229l-.483 3.231-3.878-.161z', clip-rule='evenodd')
    path#subject_8(fill='#F2F2F2', fill-rule='evenodd', d='M829.84 89.1237l-.968 3.5539 2.909.6455 1.126-3.0687-3.067-1.1307z', clip-rule='evenodd')
    path#subject_9(fill='#F2F2F2', fill-rule='evenodd', d='M822.088 120.454l3.395 5.169 6.298 1.292.16-7.269-2.101-3.553-7.429-.482-3.874 2.744-5.974-.969-.485 4.037 3.551 3.716-1.935 2.261-5.655-4.684-6.785.647-.482 5.49.647 5.652 3.064 3.876 1.132 4.36 6.298 1.776 5.814-.484-.482-6.137 4.2.485 3.229-5.33 3.873.807 2.585-2.905-2.585-2.585-5.649-1.615-4.521-5.33 3.711-.969z', clip-rule='evenodd')
    path#subject_10(fill='#F2F2F2', fill-rule='evenodd', d='M793.664 134.02l.971 4.361 3.874 4.521 2.423-.967-2.907-5.33-4.361-2.585z', clip-rule='evenodd')
    path#subject_11(fill='#F2F2F2', fill-rule='evenodd', d='M980.612 28.7826l8.278 9.8089 1.81-1.8101 2.258-11.316 2.71-5.2815-3.011-4.0744-7.528.6028-4.517 6.7902v5.2801z', clip-rule='evenodd')
    path#subject_12(fill='#F2F2F2', fill-rule='evenodd', d='M1108.38 127.494l-1.89-20.78-5.75-3.262 13.62-9.4055-1.91-6.3329-25.34-2.113-3.07 4.0318-6.91.5749-.76 5.3742-5.57-.3837v-7.4842l6.33-2.113 2.5-5.1801-1.35-13.6274-2.49-.9587-3.08 1.9174-.19-4.989-5.95 2.3012-4.03-4.6052 1.54-7.4857 4.99 4.4155 2.88-2.3041 4.22 4.6067 2.49-5.758-.57-6.9092 4.6-3.8392 8.07.769 13.43-10.172-3.26-3.8406 6.72.9601-.19-6.5255-7.3 1.3439-2.11-4.6052-9.79-1.9203 3.84-4.7978-4.99-3.6465 4.61-3.26277L1085.96 0l-16.32 9.59712-.96 7.86938-4.41 5.758 10.94 4.4141-5.95 2.6878-17.66-4.7978-20.53 13.6259-30.71 16.6976-8.256 13.4362.768 4.0289-5.567 1.535-7.867 7.1034 5.567 6.9093 4.988-1.5351 7.487 4.2229-.768 7.4857-6.907.7661-4.61 2.6865-9.787-6.1419v12.4759l-9.982 7.487-3.853 7.461 16.569 12.426.145.107v7.795l-.088.101-12.429 14.547 3.08 7.95 5.943 2.583h8.171l.1.206 3.126 6.511 5.161.776.174.025.084.153 3.311 5.86 6.92-3.331.13-.061.14.042 6.49 2.076 4.92-4.408.1-.083.12-.009 7.62-.525 5.66-5.917-1.04-5.705-.06-.307.3-.097 5.7-1.813 1.55-5.432.07-.232.24-.025 4.85-.512 1.53-4.595.07-.19.19-.044 8.94-2.104 2.33-4.14.1-.169.19-.014 13.37-.802.26-.015.1.25 3.09 8.506 9.3-2.842.06-.018.05.001 10.17.262 8.21-23.552.13-.391.37.191 4.95 2.607 6.34-1.921z', clip-rule='evenodd')
    path#subject_13(fill='#F2F2F2', fill-rule='evenodd', d='M1146.16 358.903l.47 2.242 2.89 1.868 1.4-3.548-1.59-2.615-3.17 2.053z', clip-rule='evenodd')
    path#subject_14(fill='#F2F2F2', fill-rule='evenodd', d='M1155.31 354.612l-.47 2.147 3.17 1.21 1.68-1.866-3.08-2.705-1.3 1.214z', clip-rule='evenodd')
    path#subject_15(fill='#F2F2F2', fill-rule='evenodd', d='M1153.34 359.279l-.74 8.865 3.45 4.482 3.17-1.495-.65-8.771-2.52-2.334-2.71-.747z', clip-rule='evenodd')
    path#subject_16(fill='#F2F2F2', fill-rule='evenodd', d='M1158.29 378.968l-.47 3.267 1.5 3.267 4.1-1.867.56-2.144-5.69-2.523z', clip-rule='evenodd')
    path#subject_17(fill='#F2F2F2', fill-rule='evenodd', d='M1163.57 404.911l-1.52 2.928 2.29 3.311 2.8-2.67-1.78-3.318-1.79-.251z', clip-rule='evenodd')
    path#subject_18(fill='#F2F2F2', fill-rule='evenodd', d='M1163.83 421.347l1.53 2.548 2.16-.763.51-4.082-2.8-.635-1.4 2.932z', clip-rule='evenodd')
    path#subject_19(fill='#F2F2F2', fill-rule='evenodd', d='M1165.74 427.971l-2.29 2.419 1.78 4.844 5.35-1.404-1.78-4.968-3.06-.891z', clip-rule='evenodd')
    path#subject_20(fill='#F2F2F2', fill-rule='evenodd', d='M1162.17 448.102l-2.67 2.676.25 11.467.13 2.678h2.8l2.29-6.629-.5-6.496-2.3-3.696z', clip-rule='evenodd')
    path#subject_21(fill='#F2F2F2', fill-rule='evenodd', d='M1154.15 470.018l2.79.128.9 3.692-2.04 3.187-2.67 3.822-.26 4.202-.77 5.224-.5 3.953-1.28-.635-1.02-6.88-.25-8.542 3.44-3.567 1.91-1.655-.25-2.929z', clip-rule='evenodd')
    path#subject_22(fill='#F2F2F2', fill-rule='evenodd', d='M1144.04 515.608l1.38-.61.55-9.956 1.71-1.991.33-2.601-1.82-1.16-2.82 1.325-1.54 1.217 1.38 4.37-.5 5.645 1.33 3.761z', clip-rule='evenodd')
    path#subject_23(fill='#F2F2F2', fill-rule='evenodd', d='M1154.53 505.595l.94 2.154 2.81-.994-.61-2.986-1.54-2.159-1.55 1.494-.05 2.491z', clip-rule='evenodd')
    path#subject_24(fill='#F2F2F2', fill-rule='evenodd', d='M1001.94 313.739l5.13-3.388 3.46-2.88 4.8-1.151-1.54-9.787 8.45-2.688 6.52-5.758 5.95-.193-4.41 6.336 4.22 3.647 6.14-6.911 1.54-10.94 5.56-2.111 4.42-5.758-4.61-3.455-4.03 4.992-4.22-4.032-1.15-19.769-3.65-11.707 1.15-8.639 7.1-10.172 4.03-.19 1.93-5.758 8.25 11.325 5.76-.961.38-4.223-1.35-8.637-1.45-6.082-5.55-3.126-.14-.082-.03-.162-1.06-5.543-3.57-3.314-5.77.523-.27.025-.09-.253-3.44-8.979-4.92-1.035-.14-.031-7.99-11.597-5.57 5.831-.11.103-.13.009-7.63.526-4.99 4.463-.15.137-.2-.063-6.55-2.096-7.087 3.416-.301.144-.166-.293-3.39-5.994-4.511-.678 2.918 6.077.089.187-.116.169-3.476 5.081-.062.087-.098.041-4.486 1.849-9.597 8.817 4.278 5.079-.247.231-3.792 3.536 3.044 4.561.054.08.003.101.262 5.468 4.967 4.445.135.118-.014.179-.806 8.824-.009.119-.078.088-4.548 5.081-.09.102-.136.015-7.636.79-8.271 7.753 3.348 6.445.146.278-.256.18-8.975 6.333-1.284 6.432 13.004 26.985 6.001-3.997.144-.098.165.058 13.586 4.529.198.066.041.201 1.509 7.546.024.127-.062.114-3.229 5.877 2.441 4.885 5.396-3.975.097-.069h7.267l.098.18 3.428 5.984z', clip-rule='evenodd')
    path#subject_25(fill='#F2F2F2', fill-rule='evenodd', d='M963.526 532.747l5.742 9.072 6.14 5.374 13.049-6.331 1.725-5.377 9.793-10.94 5.335-2.45 1.41-5.647-14.545 4.905-.187.066-.149-.123-5.021-4.056-10.951-.194-5.386 5.113-6.955 10.588z', clip-rule='evenodd')
    path#subject_26(fill='#F2F2F2', fill-rule='evenodd', d='M1030.76 433.07l-.27-.651 11.33 6.144 3.64 9.593 5.57 7.102 6.71 10.75 4.8 7.866 5.57 4.225 1.73 4.989 1.53 4.415 6.91 3.263.96 6.908 7.1 9.024.58-7.871-.96-5.952 5.56-.383 2.11-.958 5.19 2.688-4.22-8.83h-6.15l-6.52-2.878-7.49-5.377-4.8-12.28-2.68-7.873 5.75-3.262 10.75-.572-24.18-16.317-17.08-15.354-7.87-14.78-10.75-7.483-4.99-6.336-3.45 1.537-.77 3.648 6.33 4.414 3.46 5.182-1.92 2.493-3.08-.767-.95 4.415 6.14 4.604 6.14 14.013-.5-.207.77.858z', clip-rule='evenodd')
    path#subject_27(fill='#F2F2F2', fill-rule='evenodd', d='M112.617 348.187l1.603 3.047-.275 7.071 4.885 2.61.023.011 3.533 2.272 3.271-2.263.1-.07.122.008 4.955.261 5.2-3.178.567-3.96.048-.345.35.044 5.814.776 3.069-.961.289-.087.135.269 2.293 4.588 5.167 1.841 1.145-1.019.35-5.766-3.32-2.498-.134-.1-.012-.165-.238-3.72-2.111-1.995-3.219-2.357-.159-.116.012-.194.362-5.667-6.435-4.983-.111-.091-.022-.141-.592-3.795-2.44-1.165-.205-.097v-2.622l-.976-1.741-3.652-.22-.647 1.511-.075.18-.194.031-1.491.25-.206.035-.13-.163-1.011-1.235h-1.559l-2.386 2.162v4.191l-.069.096-1.41 1.957 1.21.91.133.098.009.165.127 1.992.022.396-.396-.016-2.644-.115-1.064 1.812.757 3.787-.132.135-8.236 8.339z', clip-rule='evenodd')
    path#subject_28(fill='#F2F2F2', fill-rule='evenodd', d='M117.006 265.108l-5.28-.435-3.837-3.647.382-3.455-3.645-.768-2.114 5.182-7.6758 6.524.5764 4.224 4.0288-.191 3.0706 2.494 1.152 5.374 3.456-.384 4.03.768v2.686l-5.011 6.593 9.503.362 11.831-8.66-.936-1.532-.054-.089v-2.158l.106-.105 1.407-1.41.032-.028.04-.025 2.01-1.185-.229-1.592-2.391-.172-1.301 1.023-.192.147-.205-.117-2.115-1.209-.09-.051-.05-.095-1.308-2.515-.035-.068-.003-.082-.103-2.315-.002-.101.052-.091 1.223-2.119-5.667-.366-.104-.006-.085-.063-.467-.343z', clip-rule='evenodd')
    path#subject_29(fill='#F2F2F2', fill-rule='evenodd', d='M116.259 290.867l8.349 10.915.074.099v5.725l1.166 1.522.075.099v2.78l.65 1.406 2.532.805 3.874.19 1.2-2.122.035-.061.052-.04 7.335-5.948.763-6.014-3.184-2.895-.052-.048-.032-.066-1.61-3.525-.036-.076.003-.081.196-6.118-9.671-5.125-11.719 8.578z', clip-rule='evenodd')
    path#subject_30(fill='#F2F2F2', fill-rule='evenodd', d='M141.888 306.923l-7.12 5.772-1.277 2.254-.108.193-.217-.012-3.734-.181.209 2.859 2.325 3.142 3.933.24.196.01.095.172 1.116 1.989.049.084v2.357l2.404 1.147.17.079.028.19.6 3.842 6.299 4.888 3.059-1.413.811-1.896-.479-3.062-.885-1.869-.08-.166.092-.162 1.308-2.316.059-.1.103-.047 5.383-2.494 3.17-2.88.094-3.508-.754-2.355-2.835-2.248-.076-.063-.036-.093-.928-2.508-2.699-.271-4.239 1.975-.088.038-.099-.008-3.019-.303-.145-.015-.096-.113-2.589-3.148z', clip-rule='evenodd')
    path#subject_31(fill='#F2F2F2', fill-rule='evenodd', d='M160.118 319.162l-.015.554-.003.152-.112.101-3.32 3.02-.041.037-.05.024-5.33 2.467-1.16 2.05.826 1.748.021.042.009.056.504 3.222.015.098-.04.096-.904 2.11-.055.128-.125.057-3.183 1.471-.349 5.443 3.073 2.251.011.007.023.021 2.235 2.119.103.095.009.14.238 3.695 3.223 2.422 4.719-.819 9.435-4.867 1.191-1.648.1-7.84v-.028l.003-.025.907-5.336.018-.094.06-.074 4.127-4.896-3.314-3.672-1.96 1.249-.042.026-.046.015-1.711.504-.148.04-.132-.075-2.616-1.51-.086-.05-.049-.089-2.319-4.25-3.74-.187z', clip-rule='evenodd')
    path#subject_32(fill='#F2F2F2', fill-rule='evenodd', d='M161.422 300.028l-3.811 4.104-1.852 2.536-.273 1.728.938 2.539 2.842 2.251.086.068.032.103.806 2.516.017.058-.001.059-.066 2.457 3.952.199.201.009.095.176 2.367 4.341 2.398 1.382 1.516-.447 2.17-1.381.256-.163.202.225 3.662 4.059 2.463.852 2.22-.091 7.352-6.558.014-.012.02-.015 3.9-2.758-.911-2.462-1.498-4.093-7.533-12.688-4.595-.187-1.601 1.413-.207.184-.227-.151-1.813-1.209-.005-.006-1.79-1.253-.898.736-.063.048-.078.021-3.221.804-.119.031-.113-.052-1.798-.807-1.232 1.147-.099.088-.128.006-3.577.193z', clip-rule='evenodd')
    path#subject_33(fill='#F2F2F2', fill-rule='evenodd', d='M208.597 279.451l6.158 3.275 3.175-1.059.198-.066.154.138 2.215 1.994.11.099.009.148.209 3.789 4.259 2.343.203.111-.019.23-.785 9.362 12.7.107 1.561-1.04.093-.063.113.003 4.177.112.247.006.084.229 1.157 3.266 3.375 1.476.065.028.047.049 2.88 2.93 4.691-4.779.108-.11.152.003 11.392.216.211-7.18.004-.132.088-.1 2.207-2.407-2.495-2.495-6.008 1.501-.14.037-.126-.075-9.084-5.317-.085-.052-.047-.086-5.494-10.105-8.26-5.002-12.64-.653-4.33 3.032-.082.06-.105.006-4.911.212-1.451 2.281-.044.069-.072.044-5.864 3.565z', clip-rule='evenodd')
    path#subject_34(fill='#F2F2F2', fill-rule='evenodd', d='M175.812 403.788l3.665 3.489-.386 3.836-.957 3.073 2.109 3.841 4.224-1.921 2.11-4.225 2.497-2.684 5.95 1.151 3.263-2.687 2.301-.195 1.728 1.347 5.95-.383 4.415-1.153 2.967-.656.179-.24.103-2.605-.315-2.198-2.918-4.216-.074-.107.009-.128.431-5.138-3.32-4.176-.049-.061-.02-.074-1.208-4.729-.008-.029-.002-.032-.206-2.734-2.739-.913-.035-.013-.022-.012-8.137-4.398-.184-.098-.005-.208-.103-4.434-7.959-1.379-.063-.014-.056-.028-8.468-4.95-.176-.105v-2.968l-1.182-2.066-4.104-.425-.174-.016-.091-.144-6.025-9.486-8.012 4.132-.047.026-.053.008-4.644.806-.356 5.818-.008.148-.112.096-1.282 1.148.37 4.629 2.41 3.151 3.601.756.102.02.073.074 6.483 6.287.109.102v4.996l-.093.104-2.863 3.247-.169 3.06 2.312.164 2.67-1.144.478-.207.019.525.192 5.196 1.627 2.349 3.786.755.279.059.008.284.205 8.702z', clip-rule='evenodd')
    path#subject_35(fill='#F2F2F2', fill-rule='evenodd', d='M193.319 318.865l-3.86 2.729-7.255 6.471 2.116 5.945h5.248l.026.331.434 5.521 2.594 4.295 1.332-1.152.129-.113.165.03 4.946.879.187.034.078.169 1.998 4.32 2.6.178v-.121l.47.165 7.657 2.66.91-1.363.864-4.328.018-.086.057-.071.977-1.192 1.588-2.649.092-1.886-2.119-1.216-.15-.085-.026-.174-.304-2.242-1.306-.735-.699 1.136-.101.16-.19.008-5.156.212-.681 1.701-.287-.047-2.638-.44-.175-.029-.08-.153-2.75-5.17-.032-.059-.006-.075-.758-7.571-5.913-5.987z', clip-rule='evenodd')
    path#subject_36(fill='#F2F2F2', fill-rule='evenodd', d='M217.406 339.618l-.104 2.114-.047.075-1.519 2.532 5.005 5.965.038.043.021.053.703 1.734 3.705-1.065.018-.007.035-.005 4.895-.625.513-3.795.024-.176.155-.087 2.529-1.429.046-.025.044-.013 5.039-1.259.515-4.211-1.381-7.434-9.593-3.091-5.489 1.554-.527 5.695-.014.162-.132.094-4.479 3.201z', clip-rule='evenodd')
    path#subject_37(fill='#F2F2F2', fill-rule='evenodd', d='M241.672 321.292l-5.372-3.368-2.602 2.08-.091.072-.116.008-4.82.207-.25 7.992 9.64 3.106.201.065.041.21 1.428 7.698.012.053-.006.054-.478 3.91 2.597-1.028.036-.016.046-.004 8.063-1.119.081-.012.075.025 5.713 1.791.129.042.071.117 1.788 2.98 2.92-2.725-.216-6.381-1.296-3.129-3.911-4.343-10.071-1.771-.088-.015-.073-.06-2.353-1.905-.095-.078-.027-.121-.976-4.335z', clip-rule='evenodd')
    path#subject_38(fill='#F2F2F2', fill-rule='evenodd', d='M260.79 344.396l-2.769 2.581-.322.301-.227-.379-1.945-3.242-5.506-1.726-7.94 1.102-2.919 1.156-.004.034-.24.057-5.236 1.309-2.329 1.317-.525 3.894-.035.269-.272.037-5.135.658-3.613 1.036.588 1.458 4.391.205.175.008.101.146 3.529 5.026 6.318.429.305.021.031.305.328 3.743.011.142-.098.116-1.235 1.425 2.895 3.573.022-.017.212.301 3.383 4.865 1.351-.269 2.026-1.386.233-.158.209.186 1.979 1.76.028.023.028.038 4.177 6.05.091.132-.035.153-.234.975 3.223 3.626.125.136-.044.181-.978 4.25 1.981 4.386h.882l1.25-2.813 1.567-3.473.1-.219.241.009 2.688.111.093.003.081.05 3.521 2.178.844-1.178-.631-3.882-2.496-2.495-.125-.128.023-.176.56-3.92.052-.346.345.041 6.533.775 5.314-1.701.694-4.357-1.883-.279-.134-.022-.087-.103-1.233-1.454-.247-.293.31-.226 2.792-2.041.143-.946-2.429-.289-.255-.033-.053-.248-.336-1.567-.03-.133.066-.116 1.418-2.528-.91-.685-4.728 2.581-.114.062-.127-.025-5.6-1.118-.15-.034-.083-.132-2.352-3.808-.025-.042-.012-.036-1.456-4.592-.015-.049-.002-.06-.103-10.496z', clip-rule='evenodd')
    path#subject_39(fill='#F2F2F2', fill-rule='evenodd', d='M262.357 357.197l.679 2.14 2.243 3.635 5.324 1.064 4.812-2.626.2-.107.184.137 1.344 1.007.25.185-.151.273-1.502 2.684.253 1.186 2.545.305.369.045-.057.364-.222 1.457-.023.145-.12.086-2.605 1.904.9 1.061 2.076.311h3.313l3.365-3.047.111-7.687.006-.379.373.029 3.076.21 3.198-3.518 1.994-5.2.025-.066.047-.048 3.088-3.313 3.574-9.205-1.805-1.404-.024-.02-.026-.028-2.107-2.426-2.822.526-.176.032-.133-.125-3.713-3.493-5.781-.206-.099 2v.027l-.335 2.802-.017.138-.109.092-4.144 3.472-.175.146-.206-.1-3.296-1.537-2.56-.197-2.607 9.46-.062.224-.229.032-5.621.868-2.622 6.685z', clip-rule='evenodd')
    path#subject_40(fill='#F2F2F2', fill-rule='evenodd', d='M529.725 202.398l2.675.296.494-1.781-1.784-1.982-2.176.694.791 2.773z', clip-rule='evenodd')
    path#subject_41(fill='#F2F2F2', fill-rule='evenodd', d='M538.241 216.159l3.168 1.19 3.268-.596-1.386-4.85-3.963 2.177-1.087 2.079z', clip-rule='evenodd')
    path#subject_42(fill='#F2F2F2', fill-rule='evenodd', d='M385.789 447.102l5.387-.099 4.413 7.487 3.563.564.11-.121 1.172-3.13.032-.083.059-.054 6.305-5.914.976-4.483.021-.093.063-.07 3.796-4.191.136-.153.195.041 4.754.95 1.234-1.936.76-3.428-1.306-3.543-4.04-1.54-.168-.066-.049-.175-.6-2.197-.048-.176.118-.144 1.926-2.315.589-5.88.014-.127.094-.09 6.787-6.587.253-.249.248.249 3.792 3.795.214.21-.174.248-2.076 2.94 2.648.497.078.011.063.046 6.873 4.909 5.248-.78.119-.016.106.061 4.916 2.751 4.788.194 6.478-4.444-11.579-8.684-.069-.053-.037-.071-5.59-10.981-.007-.016-4.122-9.222-3.22-.76-.022-.005-.031-.01-6.787-2.797-.062-.023-.05-.047-3.402-3.225-1.009 2.693-.091.239-.256-.009-5.418-.192-1.287 1.47-.044.049-.057.032-3.394 1.797-.115.057-.126-.025-2.632-.564-1.667 1.295-.097.075h-3.588l-.071-.028-4.286-1.867-1.844 3.502-.079.152-.169.033-6.076 1.19-3.91 6.752-.104.185-.216-.009-10.826-.354-2.95 6.239.179 6.084.009.276-.27.078-2.878.802-.989 4.82 2.463 5.699.005.019.011.034 1.004 3.761 4.555 1.392.078.025.057.053 4.222 3.825.113.103.004.15.125 3.934 6.217 5.435.103.09.016.141.396 3.559.003.025v.008z', clip-rule='evenodd')
    path#subject_43(fill='#F2F2F2', fill-rule='evenodd', d='M334.494 440.468l10.81 2.505 6.14 3.841 3.648-2.879 5.374 2.879 18.042 3.456 6.558-2.993.007-.153-.379-3.398-6.226-5.449-.115-.102-.006-.153-.126-3.94-4.049-3.666-4.67-1.429-.19-.059-.052-.19-1.048-3.927-2.495-5.78-.046-.104.022-.112 1-4.869-5.131-2.44-3.8 1.899-.259.128-.182-.231-3.099-4.002-6.647-2.304-7.56 2.313.401 2.128.006.032-.001.041-.131 6.855-.003.178-.141.103-10.284 7.684-.241 3.705 7.725 4.633.299.181-.171.302-2.98 5.317z', clip-rule='evenodd')
    path#subject_44(fill='#F2F2F2', fill-rule='evenodd', d='M292.059 459.293l2.19-2.882 7.296-.578.574-5.183 3.454-1.916 3.649.191 4.414 3.456 2.685-2.494-3.261-5.377-1.535-5.373 3.645-3.841 3.263-.957 4.99 5.371 10.352.653.001-.028.01-.066.034-.059 2.861-5.108-7.613-4.567-.188-.112.014-.214.265-4.088.012-.164.131-.101 10.279-7.678.128-6.643-.897-4.733-2.75-2.631-1.482.909-.126.078-.146-.032-2.638-.662-.08-.019-.065-.054-10.935-9.374-1.903.479-.528 3.684-.007.061-2.328 4.319.308 2.148 2.298 3.064.132.174-.101.198-1.344 2.688-.049.099-.097.054-2.016 1.119-.231.128-.188-.187-3.789-3.674-1.47-1.05-2.159-.205-2.602 1.193-.2.091-.169-.137-2.241-1.792-.133-.107v-.165l-.11-4.701-1.961-2.576-2.418-.201-4.603 2.782-1.146 3.333 2.597 5.836 2.232 1.807 9.99 3.292 2.215-1.162.015-.002 1.681-.786.229-.107.18.182 2.911 3.023.273.284-.31.244-2.128 1.682-.052.04-.065.022-3.06.949-1.253 4.44h-2.258l-.08-.038-3.077-1.594-6.135 3.445-3.72 6.346-.549 3.854-.036.244-.238.053-4.576 1.065-.414 3.115-.003.006-.509 3.169 7.562 2.313.154.048.067.146 1.582 3.427.06.128-.046.133-.791 2.374-.033.103-.086.066-2.835 2.222 1.03 3.088z', clip-rule='evenodd')
    path#subject_45(fill='#F2F2F2', fill-rule='evenodd', d='M368.655 320.221l-1.872 3.209-1.344 3.076-.021.042-.023.032-6.166 8.16-.014.021-.021.022-9.25 9.068-.048.045-.056.025-7.782 3.54-.166 3.493 2.496 4.81.11.216-.159.181-3.372 3.907-.53 5.149-.012.103-.066.084-2.178 2.72-.1.123-.16.009-7.346.352-1.06 4.774-.124.078-3.085 1.995-.254.165-.204-.227-2.95-3.276-4.099 6.492-.094.15-.173.016-6.749.71-5.783 6.842 1.027 3.183 2.674 2.14 6.526 2.876 2.122.316 2.243-.565.181-.045.137.119 11.015 9.441 2.408.601 1.588-.977.234-.14.2.19 3.033 2.898.084.084.022.11.385 2.05 7.599-2.325.109-.034.109.038 6.861 2.373.101.033.063.088 2.987 3.852 3.693-1.846.158-.078.155.073 5.419 2.582 2.69-.753-.173-5.889-.002-.085.037-.075 3.082-6.528.1-.21.237.004 10.848.354 3.773-6.511-2.779-4.171-.069-.104.012-.124.362-3.993v-.017l1.055-7.21-7.422-4.775-.097-.061-.044-.108-1.269-3.267-.075-.192.132-.162 4.245-5.129-.876-4.37v-.003l-1.449-7.8-.029-.15.09-.124 3.557-4.98-.175-5.797-4.101-9.806-6.973-4.114-.132-.077-.032-.154-1.068-4.795-1.933-1.967z', clip-rule='evenodd')
    path#subject_46(fill='#F2F2F2', fill-rule='evenodd', d='M416.445 278.28l-4.161.066-5.988 5.304-.093.082-.124.007-5.411.284-.209.012-.111-.175-1.768-2.781-8.726 7.77-1.395 5.024-.029.104-.077.07-9.216 8.22-10.109 17.314 2.142 2.178.07.073.023.1 1.053 4.747 6.941 4.093.103.06.047.109 4.173 9.978.022.059.003.068.181 5.985.003.12-.069.098-3.539 4.955 1.423 7.646.907 4.533.033.169-.109.128-4.22 5.1 1.151 2.961 7.523 4.836.191.123-.031.227-1.088 7.438-.352 3.841 2.703 4.051 5.833-1.14 1.916-3.642.154-.294 4.825 2.098h3.199l1.701-1.321.131-.103.163.034 2.668.573 3.221-1.706 1.356-1.548.11-.128.169.007 5.335.192 1.106-2.954.189-.503.39.372 3.745 3.548 6.694 2.754 3.372.792.172.041.072.161 4.186 9.368 5.555 10.908 11.719 8.793 6.448-3.692.753-3.952.029-.149.128-.087 3.921-2.548.109-.07.127.017 4.606.553 4.026-12.847.031-.108.094-.069 5.682-4.312.145-.111.171.05 6.075 1.767.059.012.04.028 8.146 5.431 12.433.199h.118l.093.066 8.629 6.33 10.381-5.96.198-.114.19.132 5.371 3.839 6.088-.758 6.674-2.862 1.207-3.102-7.575-4.357-.18-.103v-9.659l-4.505-4.505-2.414-.187-.171-.012-.1-.144-4.593-6.699-6.074.191-.146.003-.109-.098-5.859-5.485-6.427 4.729-.108.08-.136-.014-8.231-.783-.081-.009-.071-.043-8.036-4.902-.077-.044-.043-.075-4.448-7.351-12.048-5.244-.055-.025-.044-.037-8.715-7.94h-10.226l.012-.368.192-6.344-2.473-3.232-.066-.088-.006-.115-.385-9.29-4.336-5.465-14.539-.777-.127-.006-.094-.086-2.351-2.157-.112-.103-.006-.15-.191-6.102-5.858-4.535-12.827-.97-.208-.018-.086-.187-3.531-7.449-.088-.189.122-.169 5.227-7.361.383-11.088z', clip-rule='evenodd')
    path#subject_47(fill='#F2F2F2', fill-rule='evenodd', d='M207.697 248.665l7.784 5.027 3.063-.16.178-.01.116.142 3.678 4.513.116.144-.05.175-1.781 6.483 4.704 4.492 12.719.657.091.006.073.044 8.418 5.098.084.047.047.088 5.492 10.104 8.871 5.191 6.062-1.515.199-.047.141.14 2.623 2.626 4.243-4.385-3.773-3.551-.176-.166.09-.226.95-2.373.095-.236.253.011 5.58.234 5.912-3.869v-4.096l-4.071-2.038-.287-.143 1.406-3.751-3.786-1.264-2.485 1.13-.344.156-.137-.353-3-7.612-7.36-.231-.158-.006-.101-.117-4.713-5.419-4.465-2.82-.03-.02-.025-.022-4.272-4.037-.009-.005-.014-.017-12.58-14.245-.109-.122.021-.158.95-7.123.014-.106 4.703-5.375-3.05-1.018-.248-.082v-5.117l-3.781.045-2.552 2.44-.109.107-.152-.006-5.308-.241-.142-.009-.102-.103-2.489-2.611-2.382-.057-3.508 1.171-5.672 4.262-3.702 7.781-.106.223-.245-.02-6.172-.477-3.443 1.841-2.453 3.803 2.587 2.817.053.06.026.078 1.085 3.505.021.07-.009.072-.319 3.109 6.049-.038.321-.001.035.319.817 7.187z', clip-rule='evenodd')
    path#subject_48(fill='#F2F2F2', fill-rule='evenodd', d='M286.124 145.917l1.601-9.838 2.306 3.262-.962 6.911 2.879 6.142.768 10.172 4.03 6.142.957 6.332 14.973 9.023 9.212-1.728 6.911-9.405 1.916-9.98-3.069-11.9.384-17.274-1.918-6.333-4.799-7.678-.768-5.951 2.11-1.342 2.881 4.03 2.879-1.919-2.688-5.18-10.172-6.912-14.586-1.343-2.881 2.112-7.293 4.223.192 5.756-4.991 8.061-9.787.192-3.261 4.101 7.259 9.677-.034.156-1.13 5.667 5.925 2.964.096.045.053.093 1.007 1.722z', clip-rule='evenodd')
    path#subject_49(fill='#F2F2F2', fill-rule='evenodd', d='M268.231 185.867l-.466-3.148.576-2.687-2.498-3.455 2.307-4.223 7.099-8.828 5.952-1.92 3.453-5.951 1.298-8.627-1.395-2.38-6.08-3.038-.245-.124.055-.267 1.156-5.779-6.951-9.269-8.182 10.293-4.222-.193-5.376 3.647-3.836-.193-1.536 3.839-1.727 3.263-3.071 2.304 1.726 3.263-2.11 2.11-7.103-1.152-1.918 6.717-1.345 10.172-4.223 1.729-18.807-2.495-8.49.315.255 5.477 4.601-.912.058-.01.06.009 6.031.845.153.022.088.125 2.413 3.385.069.097-.002.119-.121 4.232-.003.126-.084.097-2.079 2.429.234 4.695.004.037-.006.031-.602 4.111-.02.143-.117.087-3.057 2.357-.873 2.299 1.186 2.488 1.594.356.213-3.332.018-.25.241-.069 2.05-.606.267-.076.14.241 1.25 2.163 1.026.238.318-2.866.032-.288.291-.029 2.534-.242.291-.025.084.278 1.507 4.991 3.04.564.136.025.084.108 4.789 6.253.717-1.972-.479-5.969-.006-.099.047-.092 2.172-4.231.022-.042.034-.037 7.841-8.461.143-.155.201.047 4.583 1.089.156.035.075.143 1.448 2.659.059.107-.02.119-.724 4.592-.02.12-.083.083-3.374 3.258-5.72 6.452-1.541 5.507 3.808-.044.362-.006v5.327l3.095 1.031 2.218-2.44.107-.117h2.954l1.126-5.178.021-.098.07-.074 5.27-5.499-1.284-2.141-.002-.004-1.662-2.85-.074-.129.039-.143 1.188-4.273.026-.092.063-.066 5.142-5.144.456-2.732.066-.388.38.1 3.537.946 2.18.435 2.711-2.938.045-.05.065-.031.428-.201z', clip-rule='evenodd')
    path#subject_50(fill='#64A651', fill-rule='evenodd', d='M349.06 224.746l-7.079 9.139 2.47 3.821.115.178-.098.185-1.596 2.966 1.154 4.855.062.256-.231.135-4.508 2.612-.19.109-.181-.118-5.842-3.738-5.586.233-.295.013-.068-.293-.917-4.145-14.078-10.845-1.56 2.344 3.917 6.452.074.122-1.216 5.594-.024.106-3.439 3.439 1.522 2.612.043.072.005.078.237 2.848.033.37-.375.017-5.527.229-4.342 5.714-.217 3.438 5.22 2.174 2.203-2.646.066-.078.097-.033 4.986-1.661.293-.096.138.275 3.214 6.43-.225.181-11.504 9.156-.231 5.06-.007.167-.134.1-4.033 3.088-.164.122-.188-.077-5.025-2.057-3.615 2.935-10.701 11.965 1.051 2.498.031.069-.001.069v7.947l1.735 1.393 4.476-5.02.164-.184.231.088 13.533 5.217 4.719-2.155 2.652-6.562.102-.25.265.026 8.972.856.138.012.096.105 6.649 7.499 7.288 3.785 10.216 1.12 4.034-2.224.211-.118 11.219 9.205 6.785.95 12.271-21.015.028-.049.043-.038 9.179-8.19 1.396-5.027.028-.101.076-.069 9.116-8.118.315-.28.225.355 1.881 2.956 5.081-.267 5.995-5.307.097-.089.131-.002 9.206-.144 6.717-5.552.092-.074.121-.005 13.174-.587 3.456-4.029.064-.075.094-.031 5.211-1.738 3.1-4.79-2.026-6.655-.044-.149.075-.131 2.42-4.302-2.533-.462-1.647 2.472-.108.159h-3.308l-4.046 3.755-.137.13-.187-.043-4.826-1.135-3.707 4.279-.097.113-.147.01-10.958.888-.13.012-.106-.078-47.545-33.961-4.573 1.429-.068.022-.072-.009-20.546-2.207z', clip-rule='evenodd')
    path#subject_51(fill='#F2F2F2', fill-rule='evenodd', d='M276.461 172.564l1.479 1.627 2.003-1.338-.572-2.341-1.527-1.147-1.191 1.623-.192 1.576z', clip-rule='evenodd')
    path#subject_52(fill='#F2F2F2', fill-rule='evenodd', d='M419.213 177.919l2.471-1.796v-4.038l-2.919-.673.448 6.507z', clip-rule='evenodd')
    path#subject_53(fill='#F2F2F2', fill-rule='evenodd', d='M458.744 235.514l-3.656-6.733-9.598-10.364h-7.293l-.957 4.221-.192 6.336-5.185 3.07-2.88-.575-1.916 2.878-3.647-2.878 4.222-3.839v-4.222l-13.626-.192-6.718-4.991-10.365.961-3.647-4.991 6.144-.576 3.262-6.333-8.254-1.921-3.838 4.609-1.92-3.457-21.11-5.182-2.688 2.688-3.072-2.88-11.131 6.527-5.759-5.569 1.728-4.987-1.728-4.992 6.909-2.303 6.335 4.414 3.07-4.989-.193-9.022-8.444-9.21-2.494 9.02-11.517 7.483-.958 5.758-5.503 4.97 2.16 11.51 6.04 9.061 5.533.691.162.02.089.135 2.991 4.373 20.506 2.203 4.668-1.46.168-.053.147.103 47.583 33.989 10.685-.868 3.754-4.33.144-.164.207.048 4.852 1.143 4.007-3.72.105-.098h3.205l1.672-2.505.128-.196.231.042 3.008.548 2.445-4.343-2.568-4.566-.145-.257.227-.191 4.615-3.844z', clip-rule='evenodd')
    path#subject_54(fill='#F2F2F2', fill-rule='evenodd', d='M441.878 215.617l-4.264.448-3.365-5.609.897-5.161 5.385-1.347 1.57 5.834-.223 5.835z', clip-rule='evenodd')
    path#subject_55(fill='#F2F2F2', fill-rule='evenodd', d='M375.99 189.172l3.304 4.347 7.778.205.897-2.896-.483-4.345-4.131-4.483-5.918 2.07-1.447 5.102z', clip-rule='evenodd')
    path#subject_56(fill='#F2F2F2', fill-rule='evenodd', d='M433.799 194.973l1.797-17.054 1.346-6.508 5.608-6.057 6.734-2.244 2.691-3.816-1.571-4.712 4.936 3.143 4.488-.45 1.125-3.365 2.916.223.222-3.366 3.592 1.347.673-3.365 2.692 2.917 2.021-2.692.672-4.041 3.817 2.694 2.466-2.244 5.162 1.122 4.264-4.936 32.76-.675 7.855-4.261.895-5.836-3.364-4.038-7.855 2.018-1.347 2.918-13.462-1.122-5.833-4.937-5.163 2.917-5.161-2.244-6.506 4.264h-5.386l-2.691 2.243-3.592-3.814-1.797 7.854-4.039.225-.447 3.139-10.096 3.143-3.592-1.569-2.243 2.691 2.917 2.917-4.041 3.815-6.508-2.692-.897 4.936-4.711-.223-.223 3.814-6.508 3.366-4.039-1.347-4.489 3.365-.222 4.936 4.261 4.264.223 6.507-4.037 4.04 3.141 6.955 3.59.45.225 3.141 4.039.898 2.692 1.346z', clip-rule='evenodd')
    path#subject_57(fill='#F2F2F2', fill-rule='evenodd', d='M331.506 198.805l-5.779 5.218-2.688-4.992 3.839-.766-4.799-9.021-7.292 1.15-7.294-2.494-9.019 1.344-4.991 12.476-3.648-2.111-5.181-12.094.77-9.404-8.446.961-2.304 8.061 3.647 4.415-3.456 4.604-5.564-3.07-.96-6.478-.17.079-2.801 3.036-.137.149-.197-.04-2.375-.475-.019-.004-3.183-.852-.41 2.462-.018.114-.079.081-5.159 5.158-1.12 4.035 1.585 2.72 1.423 2.369.139.232-.189.197-5.388 5.625-1.165 5.361-.062.282h-3.217l-2.267 2.492-.013.018-4.897 5.595-.911 6.853 12.455 14.102 4.242 4.006 4.48 2.829.046.029.032.041 4.647 5.341 7.438.232.236.009.088.217 2.946 7.482 2.271-1.031.126-.058.132.046 4.275 1.423.35.118-1.441 3.844 3.986 1.993.197.097v4.315l4.098-.647.201-.031.13.157 3.323 4.033.072.088.012.109.413 4.788 3.274-2.659.163-.133.196.079 5.035 2.058 3.74-2.861.23-5.054.008-.163.127-.101 11.406-9.078-2.819-5.638-4.597 1.534-2.307 2.77-.169.203-.242-.1-5.698-2.376-.235-.097.017-.253.237-3.798.008-.106.066-.088 4.508-5.935.104-.133.166-.009 5.325-.221-.202-2.399-1.619-2.776-.141-.24.196-.193 3.486-3.489 1.134-5.217-3.96-6.524-.118-.195.124-.189 1.899-2.846.215-.319.302.232 14.48 11.157.103.081.028.127.885 3.98 5.401-.225.108-.005.096.061 5.752 3.682 4.091-2.371-1.127-4.727-.031-.132.065-.119 1.563-2.9-2.495-3.858-.14-.213.155-.199 7.2-9.29-2.848-4.161-5.536-.694-.165-.02-.089-.136-6.211-9.316-.015-.075-2.089-11.151z', clip-rule='evenodd')
    path#subject_58(fill='#F2F2F2', fill-rule='evenodd', d='M523.454 67.8151l2.385 2.2349 3.276-2.8289-1.637-2.382-2.383.5954-1.641 2.3806z', clip-rule='evenodd')
    path#subject_59(fill='#F2F2F2', fill-rule='evenodd', d='M528.668 69.7544l1.786 1.4866 3.129-1.6365.894-3.7245-2.386-.594-3.423 4.4684z', clip-rule='evenodd')
    path#subject_60(fill='#F2F2F2', fill-rule='evenodd', d='M537.156 69.306l3.128 2.8304 6.253-3.1289-1.191-3.573-4.318-1.7865-3.723 3.126-.149 2.532z', clip-rule='evenodd')
    path#subject_61(fill='#F2F2F2', fill-rule='evenodd', d='M543.855 62.604l2.682 1.3395 1.788-2.0835-2.235-2.0865-2.235 2.8305z', clip-rule='evenodd')
    path#subject_62(fill='#F2F2F2', fill-rule='evenodd', d='M555.621 55.1596l.896 2.829 2.68-1.0425-1.044-3.4245-2.532 1.638z', clip-rule='evenodd')
    path#subject_63(fill='#F2F2F2', fill-rule='evenodd', d='M546.686 48.1605l1.491 1.3396 1.933-1.4895-2.827-2.6805-1.488 1.1925.891 1.6379z', clip-rule='evenodd')
    path#subject_64(fill='#F2F2F2', fill-rule='evenodd', d='M538.646 49.9471l.445 2.2335 2.981 1.9365 1.783-2.6805-1.636-3.276-3.573 1.7865z', clip-rule='evenodd')
    path#subject_65(fill='#F2F2F2', fill-rule='evenodd', d='M532.836 52.329l5.661 5.064-.747 4.317-5.659-1.9365-3.72-4.3155 4.465-3.129z', clip-rule='evenodd')
    path#subject_66(fill='#F2F2F2', fill-rule='evenodd', d='M548.624 68.5619l.744 3.276 6.253-.1485 2.532-4.17-2.085-3.4259-2.68 3.8729-4.02-1.041-.744 1.6365z', clip-rule='evenodd')
    path#subject_67(fill='#F2F2F2', fill-rule='evenodd', d='M531.497 76.0065l1.638 2.3835 1.491-1.9365-1.491-2.5291-1.638 2.0821z', clip-rule='evenodd')
    path#subject_68(fill='#F2F2F2', fill-rule='evenodd', d='M516.009 59.6266l2.532 4.317 2.979-2.8275-1.492-3.5745-4.019 2.085z', clip-rule='evenodd')
    path#subject_69(fill='#F2F2F2', fill-rule='evenodd', d='M523.305 58.2871l.597 2.5305 1.637-1.191-1.34-2.829-.894 1.4895z', clip-rule='evenodd')
    path#subject_70(fill='#F2F2F2', fill-rule='evenodd', d='M520.626 44.1405l1.937 2.679 1.786-1.7865-2.979-2.6805-.744 1.788z', clip-rule='evenodd')
    path#subject_71(fill='#F2F2F2', fill-rule='evenodd', d='M503.054 38.7782l.892 3.5745 2.682 2.0835 3.872-.2956 2.383 1.9351 1.488-1.788-2.979-2.6805-2.68.819-5.658-3.648z', clip-rule='evenodd')
    path#subject_72(fill='#F2F2F2', fill-rule='evenodd', d='M503.797 47.8621l-.296 3.1275 2.829 2.829 2.83 3.5745.891-1.6395-.744-3.4245 3.873-.8925 4.914 1.638 3.129-3.1275-2.832-3.2774-2.382-.8925-2.532 1.935-3.426.4484-2.082.894-4.172-1.1925z', clip-rule='evenodd')
    path#subject_73(fill='#F2F2F2', fill-rule='evenodd', d='M509.904 59.6265l-.597 2.0835 2.235 1.341.149-2.829-1.787-.5955z', clip-rule='evenodd')
    path#subject_74(fill='#F2F2F2', fill-rule='evenodd', d='M68.2972 152.767l12.9878 28.077 8.0738-4.21.7014-15.444-3.8597-5.966-1.7571 7.02-3.8612-2.459-3.1554-9.125-3.8642 2.459-5.2654-.352z', clip-rule='evenodd')
    path#subject_75(fill='#F2F2F2', fill-rule='evenodd', d='M113.913 359.097l-.078 1.924-5.946-.189-2.306 3.451-3.072.386-3.6432 6.524-6.1418 2.305-4.4155-6.525-10.3646-1.347-4.7979 4.993 10.3632 6.142-3.0701 2.108-5.3742-3.262-3.079 2.424 1.8394 3.634h3.9465l.1088.132 4.5317 5.596.1485.185-3.4656 6.666 4.3846 5.415.1456.176-.1044.208-1.0337 2.069-.2529 4.318 2.5761 3.164 2.5511-2.933.2323.088 3.9862 1.495 1.4468-2.412.1588-.265.2838.121 3.1996 1.33.2205.09v5.079l3.7904 1.771.208.096v4.921l1.964 3.189 4.654-.488 1.508-2.77.103-.185h7.783l4.589-5.096-.227-2.491-4.244-.499-.296-.034-.019-.297-.259-3.63-3.942-5.517-.096-.135.045-.166 2.087-7.574-2.574-3.866-.213-.317 5.931-3.391.237-.131.194.19 2.019 2.019 3.899-.243 2.26-4.52-.789-7.63-.024-.216.184-.119 5.948-3.877-1.009-9.346-4.642-.244-3.364 2.329-.194.137-.202-.128-3.729-2.4-4.559-2.432z', clip-rule='evenodd')
    path#subject_76(fill='#F2F2F2', fill-rule='evenodd', d='M153.991 415.945l6.485-2.143.959-4.989 5.568-3.073 5.95-1.535 2.14-.653-.192-8.16-3.65-.731-.139-.028-.083-.12-1.767-2.553-.06-.085-.003-.103-.177-4.783-2.273.974-.081.033-.085-.009-2.75-.194-.351-.024.022-.351.196-3.535.004-.125.084-.094 2.854-3.233v-4.432l-6.296-6.106-3.629-.765-.131-.028-.081-.104-2.551-3.341-.065-.082-.01-.103-.374-4.68-5.283-1.887-.132-.048-.066-.13-2.219-4.439-2.852.893-.075.019-.078-.008-5.542-.738-.54 3.773-.023.165-.143.088-5.248 3.206 1.04 9.636.026.219-.186.121-5.948 3.877.778 7.515.01.103-.047.093-2.4 4.798-.089.185-.208.013-4.265.268-.16.009-.115-.116-1.938-1.937-5.029 2.875 2.453 3.679.091.132-.043.16-2.088 7.567 3.807 5.331 9.427 1.019.97-2.671.093-.256.272.02 3.199.268.265.022.054.265 1.014 4.814 3.621.483 3.211-2.027.124-.08.14.034 11.389 2.354.162.033.079.141 2.978 5.314z', clip-rule='evenodd')
    path#subject_77(fill='#F2F2F2', fill-rule='evenodd', d='M113.416 462.234l5.988.127 5.723-2.639-3.783-5.305-.235-.331.36-.194 3.308-1.751 3.104-2.556-2.451-5.844-.084-.199.14-.165 1.963-2.357.306-.367.267.395 1.799 2.697 2.293-1 .09-.041.091.013 4.305.48-.958-4.316-.022-.1.029-.09 2.616-7.582-2.586-4.658-.065-.121.028-.126 2.108-10.028-2.019-5.301-3.786-.509-.253-.032-.051-.249-1.012-4.802-2.661-.219-.972 2.672-.097.264-.278-.029-9.44-1.019.216 3.01 4.238.498.287.034.026.288.268 2.932.013.155-.103.114-4.799 5.336-.106.116h-7.678l-1.499 2.746-.091.164-.185.021-5.067.532-.223.027-.118-.194-2.132-3.465-.053-.088v-4.674l-3.7921-1.768-.2059-.094v-5.056l-2.6952-1.122-1.4395 2.399-.1529.255-.2794-.102-4.0347-1.511-2.3055 2.649 2.6099 3.201 2.7261-.495.2234-.041.1324.191 1.7924 2.56 3.6097 1.032.175.049.0632.17 1.588 4.233 3.7851 6.488-.024.127-1.047 6.273 3.939 7.09.027.046.009.045 1.335 5.601.01.044-.001.05-.259 5.707 6.019 6.022.052.053.029.074 1.352 3.56z', clip-rule='evenodd')
    path#subject_78(fill='#F2F2F2', fill-rule='evenodd', d='M76.3431 482.192l-2.0438 2.049.3853 5.756 5.3742 7.677-.3838 8.061-.9616 3.842 4.7978 5.95 2.3041-.963 1.3439-2.299 2.8775 1.532 3.0731.961 3.6465-2.304v-10.17l2.4952-14.397 9.2115-8.829.769-9.214-.961-4.03 4.464-3.361-1.31-3.453-5.858-5.855-2.15 1.672-.101.078-.133-.004-6.2649-.261-3.3995 2.673 1.2012 2.405.1441.292-.2749.169-3.026 1.878 3.8435 5.493 4.1244.772.2235.043.0574.217 1.3332 5.067.08.302-.287.119-3.2024 1.332-.0765.032-.0853-.004-3.2318-.249-4.1568 8.054-.2029.395-.3441-.288-3.1995-2.705-1.9012 2.139-.1176.132-.1809-.016-7.8959-.69z', clip-rule='evenodd')
    path#subject_79(fill='#F2F2F2', fill-rule='evenodd', d='M74.6655 474.998l1.3631 3.676.569 2.82 7.5254.66 2.0144-2.263.2308-.264.2662.228 3.123 2.643 4.0612-7.868.1059-.21.2367.021 3.3818.26 2.832-1.181-1.1969-4.548-4.042-.758-.1427-.025-.0867-.12-5.4963-7.856-4.2758-.251-2.0483.91 2.3291 8.766.078.29-.2721.128-10.5558 4.942z', clip-rule='evenodd')
    path#subject_80(fill='#F2F2F2', fill-rule='evenodd', d='M72.1012 471.319l.0868 1.598 2.0276 1.503 10.4338-4.886-2.2233-8.37-1.8747.83-1.8041 5.711-.0309.103-.0897.066-2.6643 2.135-.05.038-.0603.021-3.7509 1.251z', clip-rule='evenodd')
    path#subject_81(fill='#F2F2F2', fill-rule='evenodd', d='M64.0288 459.231l.2897 6.583 7.6783 3.646.0617 1.119 3.5083-1.169 2.5291-2.023 1.8203-5.756.0485-.152.15-.066 4.2773-1.9-3.3525-2.705-1.2586 2.173-.1338.231-.2588-.066-8.6987-2.107-6.5138 2.085-.147.107z', clip-rule='evenodd')
    path#subject_82(fill='#F2F2F2', fill-rule='evenodd', d='M58.3606 445.999l4.0406 4.461.1911 6.14 1.2248 1.9.028-.019.0544-.022 6.6667-2.131.0941-.033.0985.025 8.5369 2.068 2.7202-4.694-1.2057-3.866h-4.1405l-.103-.096-7.9017-7.109-5.6095-.256-4.6949 3.632z', clip-rule='evenodd')
    path#subject_83(fill='#F2F2F2', fill-rule='evenodd', d='M48.4767 427.594l4.7096 7.896v4.8l4.6949 5.181 4.8449-3.749.1029-.08.1294.005 5.4771.248-.25-5.74-.0088-.203.1662-.11 2.9319-1.954-4.1891-7.899-1.4218 2.845-.1118.222-.247-.025-5.064-.532-.1573-.021-.0956-.123-2.7746-3.788-8.7369 3.027z', clip-rule='evenodd')
    path#subject_84(fill='#F2F2F2', fill-rule='evenodd', d='M81.8218 407.05l-2.6555 2.177-.3279.263-.2088-.363-1.9733-3.451-2.4496 1.113-.2573 2.326-.0897.087-2.3982 2.395 2.1174 1.882.2087.187-.1323.247-2.0335 3.812 1.4821 2.222.2456.368-.4088.16-3.8744 1.55-1.5895 3.179 4.5787 8.64.153.283-.2706.178-3.0289 2.019.2499 5.782 7.7842 7.004h4.392l.0779.252 1.3336 4.265.0441.149-.0779.137-1.3116 2.267 3.8054 3.067 4.4184.262.1706.012.1.139 1.2586 1.802 2.782-1.727-1.1881-2.374-.1294-.261.2294-.182 3.7303-2.93.1029-.084.1324.009 6.2693.26 2.166-1.685.255-5.649-1.311-5.504-3.972-7.153-.059-.112.017-.121 1.046-6.272-3.6673-6.289-.0133-.021-.0117-.033-1.5366-4.092-3.5583-1.021-.1205-.032-.075-.108-1.7351-2.477-2.7084.495-.2058.037-.1324-.165-5.6388-6.921z', clip-rule='evenodd')
    path#subject_85(fill='#64A651', fill-rule='evenodd', d='M47.2151 414.812l.2676 4.531 5.0654 2.399 7.2063-7.953.5235-.576.7999 6.399 4.264-5.601.2676-5.862-3.0789-2.565-.1206-.103-.0088-.154-.2573-4.376h-4.5332l-.1029-.166-3.0951-4.902-3.7318-1.329-.5338 3.998 4.2641 5.062h.0015v.005l3.8185 2.386.4455.278-.419.309-5.7095 4.221-.0029.003v3.464l-.322.034-5.0081.498z', clip-rule='evenodd')
    path#subject_86(fill='#F2F2F2', fill-rule='evenodd', d='M553.607 582.967l24.699-9.288 8.828-.574 1.535 2.3 13.244 2.879.96 5.951 4.991 2.493 14.009 1.537 5.567.769 2.878 2.688 4.415-1.537 4.03-3.457 2.878-7.099-4.795-5.756.574-8.83 3.071-.961.193-4.031 4.03-.189 1.128-4.328-2.594-5.022-.112-.219.161-.181 2.817-3.192-.74-2.954-.048-.197.142-.14 2.018-2.02-.475-2.057-5.776.372-.122.008-.103-.075-14.455-10.079-.868 3.985-.055.26-.262.021-17.581 1.548-1.115 4.645-.048.211-.208.055-3.426.898.358 3.223.025.218-.187.12-4.747 3.038-.183 3.153-.015.264-.262.062-3.251.763-5.812 4.844-.121.103-.156-.019-13.521-1.763-.088-.014-.071-.048-8.305-5.849-3.821-.293-2.478 6.509-.083.214-.23.017-9.609.619.603 6.636 5.757 10.228.16.287-.269.185-4 2.772.921 6.297z', clip-rule='evenodd')
    path#subject_87(fill='#F2F2F2', fill-rule='evenodd', d='M541.797 547.123l4.256-1.525 3.135-1.566 5.273-5.273-1.209-3.323-.036-.104.025-.108.942-3.774-1.263-5.06-.044-.172.106-.136 3.505-4.456 1.8-5.397-5.14-1.818-.171-.057-.053-.174-.966-3.221-.051-.174.108-.144 4.06-5.306-2.217-5.389.025-.108.966-4.183.038-.169.159-.075 5.409-2.548 2.672-2.667-5.671-11.031-.062-.115.028-.125.82-3.829-6.122 2.625-.143.062-.143-.062-7.951-3.498-9.096 1.254-3.451 4.078-.106.127h-.167l-9.356-.047-.195 25.191 3.394-.438.354-.044.045.358.629 5.03 4.748 5.063.051.059.024.064 1.572 4.404 4.412 3.15.315.226-.249.296-3.339 3.946 2.688 2.987.126.139-.045.186-1.285 5.146-.037.137-.119.077-3.385 2.156-.287 6.033 7.814.235.154.005.105.116 2.601 2.966z', clip-rule='evenodd')
    path#subject_88(fill='#F2F2F2', fill-rule='evenodd', d='M500.288 563.43l.672 6.602 6.139 3.457.192 6.526 6.144 1.341 2.493 3.073 6.911-3.648 1.343 4.799 4.414 6.526 6.912.767 2.108-4.608 9.215-.384 6.108-4.542-.994-6.787-.031-.218.184-.128 3.914-2.709-5.631-10.014-.037-.066-.007-.078-.589-6.434-4.953 3.79-.284.215-.216-.281-4.505-5.789-.103-.136.036-.161 1.571-6.913-2.532-2.887-7.674-.228-.003.105-.273.053-4.828.966-.16.032-.131-.103-3.983-3.13-.266 3.201-.009.091-.049.078-3.862 5.79-.118.178-.212-.022-7.006-.634-5.609 1.869-2.262 3.11 3.485 1.744.151.073.039.162.964 4.183.088.387-.397.052-6.359.73z', clip-rule='evenodd')
    path#subject_89(fill='#F2F2F2', fill-rule='evenodd', d='M399.915 455.221l2.777.806.19 4.988-1.726 1.921 1.151 3.457-3.838 4.413.768 3.262 8.253 1.918.384 4.414 4.03.194 3.07.768 3.07 3.452-4.414 3.646v3.074l4.414-1.343 3.84 2.112 3.453-.769 2.881-2.494 8.268-1.504 3.252-7.723-.594-13.901-.006-.098 2.843-5.079.063-.107.113-.05 4.791-1.995.079-.033.082.008 5.497.363-1.274-4.908-.069-.261.235-.136 4.613-2.693v-19.417l-3.298-3.49-.215-.23.2-.24 3.497-4.28-.311-2.654-6.5 4.459-.099.066-.116-.004-4.993-.203-.087-.003-.075-.041-4.882-2.733-5.272.78-.14.021-.119-.084-6.923-4.946-3.117-.584-.545-.101.32-.456 2.222-3.145-3.333-3.334-6.443 6.252-.583 5.86-.011.109-.073.08-1.876 2.256.505 1.841 4.021 1.532.153.057.056.155 1.398 3.795.034.094-.022.104-.799 3.592-.011.062-.037.053-1.397 2.197-.131.207-.239-.048-4.795-.959-3.591 3.968-.978 4.501-.023.108-.08.079-6.331 5.933-1.157 3.089z', clip-rule='evenodd')
    path#subject_90(fill='#F2F2F2', fill-rule='evenodd', d='M533.894 404.557l-5.197-3.717-10.387 5.962-.199.116-.187-.135-8.731-6.402-12.426-.194-.109-.005-.085-.054-8.19-5.462-5.847-1.697-5.449 4.133-4.082 13.025-.089.285-.293-.037-4.773-.575-3.682 2.395-.755 3.964-.031.167-.144.082-6.585 3.77.371 3.158.016.15-.097.119-3.395 4.147 3.18 3.366.096.104v11.292l24.552 11.684.078.037.052.07 4.592 5.988.044.057.019.066 1.323 4.92 7.108-.191.218-.004.102.191 2.5 4.612 13.967.391.369.009-.613 10.221 1.688 2.192 4.507-3.752.103-.087h4.277v.004l9.188.044 3.432-4.055.088-.107.136-.016 9.332-1.288.099-.012.092.041 7.904 3.476 6.407-2.75.312-6.532.009-.165.129-.1 6.664-5.08.843-3.09-5.786-1.824-.084-.028-.063-.062-4.27-4.271-.015-.124-.643-5.471-.02-.185.143-.125 7.288-6.339.284-3.695-4.808-.605-.193-.023-.087-.174-5.387-11.096-18.477-2.866-.304-.046v-5.58l.079-.098 2.459-3.072-2.567-9.047z', clip-rule='evenodd')
    path#subject_91(fill='#F2F2F2', fill-rule='evenodd', d='M557.721 494.94l-2.217 1.044-.899 3.904 2.209 5.363.076.191-.123.162-4.073 5.327.861 2.87 5.298 1.869.331.116-2.042 6.124-.018.062-.037.047-3.432 4.368 1.244 4.976.022.087-.022.087-.939 3.758 1.248 3.436.081.213-5.632 5.629-.038.042-.054.024-3.219 1.612-.028.011-.013.005-4.319 1.545-1.527 6.723 4.183 5.375 5.189-3.967.515-.394.026.299 9.399-.603 2.492-6.546.094-.247.266.02 3.938.302 2.792-5.889.062-.132.136-.05 5.01-1.878 1.515-3.338v-3.998l.189-.098 4.62-2.466-.301-3.91-1.915-5.749-.01-.034-.004-.015-.952-5.402-4.143-6.371-.109-.164.082-.18 1.801-3.902-3.167-2.015-5.347.628-.024.005h-6.062l-.084-.244-2.929-8.632z', clip-rule='evenodd')
    path#subject_92(fill='#F2F2F2', fill-rule='evenodd', d='M548.934 210.121l3.267 4.256 2.278-.989-.696-5.942-2.276-1.187-2.573 3.862z', clip-rule='evenodd')
    path#subject_93(fill='#F2F2F2', fill-rule='evenodd', d='M558.043 183.091l1.682 2.179 1.781-1.881-.79-2.971-2.277.694-.396 1.979z', clip-rule='evenodd')
    path#subject_94(fill='#F2F2F2', fill-rule='evenodd', d='M620.623 78.1606l7.185 1.3174-1.677-5.3845-5.027.1176-.481 3.9495z', clip-rule='evenodd')
    path#subject_95(fill='#F2F2F2', fill-rule='evenodd', d='M626.611 91.6895l3.949-5.2669-.959-4.6699 3.831-2.5128 3.83-3.8318 4.31 3.8318 2.394 6.821 1.438 2.9952-3.951 2.1526v3.7112l-9.815 4.4288-5.027-4.5494v-3.1098z', clip-rule='evenodd')
    path#subject_96(fill='#F2F2F2', fill-rule='evenodd', d='M623.019 97.5532l7.541 2.8728-1.078 3.591-3.471 1.916-5.027-3.472-.84-3.3506 2.875-1.5572z', clip-rule='evenodd')
    path#subject_97(fill='#F2F2F2', fill-rule='evenodd', d='M629.722 109.525l3.351-8.262 9.218-4.5478 1.675 6.3458 2.393-.719.359-2.7522 4.191 4.0682-.359 5.386-3.111 5.027 2.632 3.113-.718 4.669-3.351 1.796-6.822-4.669-6.107-5.267-3.471-1.557.12-2.631z', clip-rule='evenodd')
    path#subject_98(fill='#F2F2F2', fill-rule='evenodd', d='M653.782 114.192l-.837 10.774-4.071 7.42 1.558 5.626 6.702-5.386 7.061-.479 3.711-3.71.48-8.619-3.951-5.027-3.351 3.352-1.797-1.916.241-5.148-5.746 3.113z', clip-rule='evenodd')
    path#subject_99(fill='#F2F2F2', fill-rule='evenodd', d='M673.53 129.754l.599 2.872 5.27 1.197-.24-2.035-5.27-3.23-.359 1.196z', clip-rule='evenodd')
    path#subject_100(fill='#F2F2F2', fill-rule='evenodd', d='M633.551 151.3l2.754 2.035 2.035-1.197-1.435-2.992-3.354 2.154z', clip-rule='evenodd')
    path#subject_101(fill='#F2F2F2', fill-rule='evenodd', d='M609.253 147.35l3.47 1.915.24-2.753-2.272-2.633-1.676 1.435.238 2.036z', clip-rule='evenodd')
    path#subject_102(fill='#F2F2F2', fill-rule='evenodd', d='M630.679 158.841l1.318 1.437 1.675-1.559-1.913-2.032-1.08 2.154z', clip-rule='evenodd')
    path#subject_103(fill='#F2F2F2', fill-rule='evenodd', d='M572.201 194.971l2.673 2.475 1.782-1.781-.694-2.773-2.276-.594-1.485 2.673z', clip-rule='evenodd')
    path#subject_104(fill='#F2F2F2', fill-rule='evenodd', d='M578.637 198.14l1.485 1.089.987-1.88-1.682-1.881-.79 2.672z', clip-rule='evenodd')
    path#subject_105(fill='#F2F2F2', fill-rule='evenodd', d='M582.498 190.913l1.485.99.891-1.684-2.277-1.484-.099 2.178z', clip-rule='evenodd')
    path#subject_106(fill='#F2F2F2', fill-rule='evenodd', d='M585.171 186.953l1.684 1.287 1.583-2.278-2.574-1.88-1.387.989.694 1.882z', clip-rule='evenodd')
    path#subject_107(fill='#F2F2F2', fill-rule='evenodd', d='M573.189 173.289l1.884 1.288 2.772-1.685-1.584-2.771-2.378-.691-2.276 1.977 1.582 1.882z', clip-rule='evenodd')
    path#subject_108(fill='#F2F2F2', fill-rule='evenodd', d='M579.131 163.586l-.693 1.684 1.486 2.079 1.582-1.682.1-1.884-2.475-.197z', clip-rule='evenodd')
    path#subject_109(fill='#F2F2F2', fill-rule='evenodd', d='M574.657 95.4491l-.434 2.2497 2.317 2.3262 3.263.072-.147-2.9055-2.245-2.9775-2.754 1.2351z', clip-rule='evenodd')
    path#subject_110(fill='#F2F2F2', fill-rule='evenodd', d='M589.153 77.9459l3.042.9425 3.336-.869-1.958-4.3582-2.466-1.963-1.738 1.6719-.362 2.7598.146 1.816z', clip-rule='evenodd')
    path#subject_111(fill='#64A651', fill-rule='evenodd', d='M678.684 533.003l.562 2.957 4.162.347.099.007.1.009.082.061.08.058 4.305 3.13 3.488 2.201 6.027-.566.132-.01.134-.013.106.078.107.073 4.738 3.334 7.891-10.048-1.87-2.961h-3.989l-3.012 1.128-.207.075-.201.078-.162-.149-.161-.144-2.349-2.157h-.005l-.027-.028-.03-.025-.02-.032-.021-.029-2.556-3.581-7.669 4.563-.331.198-.329.194-.171-.342-.173-.343-3.043-6.087-3.486 1.306 1.388 4.856.1.334.094.335-.335.103-.329.106-3.119.984z', clip-rule='evenodd')
    path#subject_112(fill='#4E8240', fill-rule='evenodd', d='M781.544 555.84l-1.759 4.526 12.074 7.548 20.885-10.064h-.005.005l-5.542-5.078-.5-.455.66-.157 3.617-.851.756-4.026-6.036-3.775-5.03 1.008-2.573 6.074-.198.467-.373-.342-2.646-2.424-2.932 6.111-.088.178-.193.025-10.122 1.235z', clip-rule='evenodd')
    path#subject_113(fill='#F2F2F2', fill-rule='evenodd', d='M706.822 359.28l-.214.144-4.195-3.297h-9.625l.626-5.656.012-.108.066-.082 5.518-6.673 1.631-4.358-3.567-2.469-.153-.107v-5.018l-3.123-3.403-.124-.135.037-.179 1.416-6.791-3.927-3.02.261-.288 5.447-6.02-2.028-25.466-6.37-9.8 3.19-1.646 7.674-6.252.119-.095.145.016 4.53.533 1.643-7.953.013-.069.037-.056 2.239-3.354.557-4.478.02-.143.111-.093 9.417-7.475-4.047-4.854-.084-.1v-7.718l-8.204-11.604-.046-.06-.016-.078-1.125-5.91-2.519-3.355-.082-.109.013-.132.268-3.36-5.063 2.531-5.756 4.414-7.871 2.304-3.069 5.373.19-7.677 15.931-16.505 8.83-15.93 4.03-14.203-12.285-14.012-11.513-.382-4.03 5.756-4.608.769 3.455-9.79-9.404-1.151 3.07-4.414-5.757-4.798-5.183 1.92-8.253 12.282 1.92 7.293-8.828.577.191 2.302 3.262 4.8-6.332-1.344-3.264 3.07-7.293-1.342-.957-3.263-10.366.191.192 5.951-12.477 1.726-8.445 6.716-6.524.194-4.799 4.223-2.111 8.636 4.03 7.294-6.142 1.535-16.314-2.687-9.404-.192-2.879 5.182-.384 13.435 5.949 5.759 2.881 6.717h-8.253l-7.102-13.244-5.208.306.061.669 4.539 9.644.199.428-.463.077-4.886.813-1.078 5.917 4.515 9.595.055.116-.031.124-1.14 4.564-.044.168-.159.072-10.679 4.777-1.344 5.371 6.952 9.177 7.865 1.966.225.055.041.231 1.722 9.842-.503 1.273v-.009l-2.779 7.052-.066.171-.176.047-7.199 1.939 2.176 5.173.053.123-.041.127-2.281 6.834 5.73 7.445.088.113-.014.141-1.449 13.595 4.594 6.317.089.123-.025.15-1.716 9.716 6.839 5.131.112.08.023.146 1.168 7.006.028.15-.088.124-6.077 8.387-.577 7.496-.009.107-.066.087-9.378 11.917v9.277l7.658 4.401.267.152-.111.286-1.372 3.526-.056.141-.138.062-6.859 2.94-.045.017-.05.007-5.856.731 2.535 8.948.05.175-.116.144-2.496 3.118v4.719l18.36 2.852.186.027.081.171 5.385 11.084 4.956.619.341.041-.028.338-.322 4.183-.011.15-.111.094-7.257 6.314.607 5.158 4.035 4.035 6.03 1.904.325.103-.09.331-.966 3.538-.031.12-.096.071-6.627 5.05-.313 6.591-.009.222-.036.013-.9 4.202 5.734 11.149.119.23-.183.186-2.899 2.893-.039.047-.058.024-2.446 1.153 2.868 8.465h5.523l5.445-.64.125-.016.107.07 3.538 2.25.266.169-.134.282-1.847 4.004 4.076 6.27.041.062.014.07.961 5.451 1.919 5.761.015.045.001.043.324 4.182.019.232-.207.112-4.638 2.467v3.726l-.031.069-1.608 3.541-.061.135-.141.055-5.011 1.879-2.705 5.711 8.066 5.678 13.281 1.735 5.76-4.803.067-.053.08-.022 3.074-.722.179-3.065.01-.182.155-.099 4.711-3.014-.402-3.612.299-.08 3.52-.925 1.123-4.69.06-.253.256-.025 17.573-1.544.879-4.046-9.812-8.789-.119-.112v-4.178l.206-.099 4.382-2.045.091-.041.094.008 5.477.55 1.143-17.163.007-.071.034-.07 3.507-6.719.085-.166.181-.023 5.892-.843 1.08-4.873-6.055-9.514-.112-.178.099-.187 5.552-10.224.097-.177.203-.009 13.561-.577 3.698-4.831.361-.472.247.536 5.114 11.081 2.946-1.226-.562-6.46-.011-.157.107-.115 13.07-14.234.852-5.674-.039-.183 7.005-3.221.149.326 3.167 6.905 5.93 3.507 1.338-4.808.025-.094.062-.067 3.352-3.348-1.329-3.99-3.032-.827-.284-.077.021-.294.292-3.799.014-.124.085-.095 4.548-4.827-.797-3.71-6.227-1.982-.183-.057-.054-.178-1.754-5.842-.05-.17.107-.144 3.073-4.192-2.799-4.766-.178-.301.297-.186 7.51-4.621 4.288-8.287-.566-6.539-2.879-4.6-.098-.161.079-.173 2.861-6.293-1.408-3.66-.021-.053-.004-.057-.293-5.839-.009-.246.224-.098 5.256-2.337.037-.016.038-.009 5.435-1.144 2.349-2.61-1.942-2.427-4.113 2.738z', clip-rule='evenodd')
    g#kamchatka(fill='#4E8240', fill-rule='evenodd', clip-rule='evenodd')
      path(d='M1171.19 232.894l2.99 2.986 5.82-4.777-2.54-.599-6.27 2.39zM1100.41 213.033l-2.24 6.72 8.51 9.556 1.2-13.736-4.63-2.091-2.84-.449zM1156.56 238.119l2.23 3.435 8.52 1.344 3.43-1.791-2.09-3.585-6.27-.747-5.82 1.344z')
      path(d='M1156.59 350.466l-1.54-19.194-2.11-8.83-6.33-6.333.57-9.404 3.26-2.688-10.93-12.667.19-8.828 4.61-4.991-1.16-4.989-9.21-2.688-9.41-16.697 2.31-1.537 2.88 4.031 4.6-2.879-7.1-6.717-3.84 2.111-6.13-3.978-.1.116-3.17-7.462h-6.33l-.77 4.414-4.03-.384-13.05-26.102.77-8.253 5.18-1.152-3.84-15.353 8.25 6.525.19-18.426 6.53-6.717 9.79-.191-5.57-13.629-2.66-29.355-6.33 1.921-.14.042-.13-.069-4.72-2.48-8.15 23.408-.09.247-.25-.009-10.37-.264-9.58 2.924-.32.1-.12-.32-3.11-8.574-12.91.775-2.31 4.108-.08.137-.16.038-8.89 2.092-1.54 4.625-.08.217-.23.024-4.84.51-1.53 5.383-.06.184-.18.057-5.58 1.778 1 5.497 8.02 11.663 5.17 1.087.07.182 3.41 8.911 5.66-.518.15-.013.12.109 3.77 3.502.09.08 1.07 5.609 5.2 2.939 3.61-3.362-9.79-11.707 2.3-7.679 9.41-3.262-4.99 7.487 1.15 5.758 7.48 5.181 3.46.191-.19 5.373 3.26.771-3.07 15.353 3.45 5.757 1.16 17.85 2.69 11.516 3.64 11.516-4.22 4.607 1.34 4.414-2.3 3.071 5.95 6.908.96 10.94 8.16 9.222v-.002l9.69 10.934 52.97 35.508z')
    path#perm(fill='#64A651', fill-rule='evenodd', d='M359.296 322.617l-.097-.013-.078-.063-10.925-8.962-3.917 2.163-.1.056-.112-.013-10.762-1.224.012-.073-7.178-3.728-.059-.029-.044-.052-6.601-7.443-8.568-.816-2.532 6.261 6.051 7.999.063.085.006.109.359 5.714.016.251-.235.097-9.958 4.194v3.354l2.734 2.391.248.213-3.127 4.185-.007-.028-2.721 3.055-3.671 9.456-.025.066-.046.049-3.09 3.308-1.99 5.201-.025.061-.044.053-3.36 3.691-.114.129-.175-.008-2.872-.197-.102 7.085 3.215-.098.367-.013v5.628l7.048.319.316.016.025.314.316 3.996 2.994.723.217.053.047.217.447 2.018.008.022.435 2.825 1.035 1.415 2.681-.697 5.931-7.017.09-.112.145-.013 6.718-.704 4.26-6.749.256-.4.313.351 3.061 3.403 2.705-1.752 1.057-4.753.06-.268.271-.012 7.457-.356 2.01-2.51.534-5.158.012-.111.073-.084 3.287-3.807-2.427-4.682-.044-.088.005-.094.181-3.808.011-.219.197-.09 7.926-3.601 9.182-9.007 6.13-8.112 1.147-2.628-6.653-.934z', clip-rule='evenodd')
    path#krym(fill='#4E8240', fill-rule='evenodd', d='M43.0695 369.5l-4.2915-9.569-7.6552-.655-4.2523-6.857 6.6389-3.736-.7817-4.714 1.6156-3.963-3.2205-8.264-.6821-5.299h-4.9112l-2.7016 2.157-8.944-4.142-8.4296-.657-1.07772 2.642 5.01608 5.299-.57179 4.214 2.67313 2.473-6.0397 5.54H1.88134L0 346.475l5.4543 8.141 9.3702-.724 5.308 6.039 4.4489-.655 4.9226 2.521-.5483 4.259 6.7671 5.43 7.3467-1.986z', clip-rule='evenodd')
    path#astrakhan(fill='#64A651', fill-rule='evenodd', d='M126.046 459.784l6.026 2.195 16.121-.385-1.344-6.336 4.03-.767 3.073-17.274-2.689-3.647-4.032-.957.578-3.263 4.991-4.609-4.447-6.177 2.144-1.117 2.82-1.24-2.848-5.085-11.088-2.292-2.952 1.863 2.029 5.327.036.094-.023.103-2.106 10.003 2.601 4.683.08.141-.052.147-2.635 7.64 1.046 4.696.106.487-.496-.053-4.702-.525-2.484 1.085-.273.121-.165-.247-1.699-2.554-1.519 1.826 2.47 5.889.1.243-.205.17-3.339 2.751-.029.024-.028.013-2.981 1.576 3.885 5.451z', clip-rule='evenodd')
    path#krasnodar(fill='#64A651', fill-rule='evenodd', d='M46.7666 419.385l-.2646-4.53-.0221-.344-.0176-.341.3411-.034.3426-.032 4.6861-.471v-2.82h-.0015v-.36l.1455-.107.1456-.108 5.2875-3.907-3.3731-2.11h-.0029l-.0456-.029-.0441-.029-.0368-.04-.0382-.046v-.004l-4.267-5.064-.1015-.119-.1029-.121.0221-.156.0206-.157.5322-3.996.0603-.443.0574-.434.4146.146.4147.147 3.7332 1.334.1147.042.1162.041.0676.108.0662.103 2.9878 4.731h4.8125l.0206.34.0191.334.2485 4.224 2.9599 2.466.1352.116.1397.11-.0088.18-.0074.173-.2676 5.867-.0103.224-.0661.086-.0691.09-4.2671 5.601-.5293.694-.5278.697-.1118-.869-.1088-.868-.6043-4.857-6.6858 7.379-.1809.198-.1779.194-.2352-.111-.2412-.111-5.0639-2.399-.1912-.093-.1911-.09-.0147-.21-.0133-.215zm-6.8225-35.522l-2.1115 2.493.9602 2.879 3.0701 2.305-.1911 4.797 1.7277 7.679-.5749 7.097-1.3454 11.709 1.5365 2.113 3.0701-1.346 2.0174 3.382 9.1251-3.163.2485-.086.1559.21 2.8378 3.873 4.6625.491 3.4187-6.833 3.7141-1.488-1.3571-2.032-.1177-.176 2.1027-3.94-2.1909-1.946-.2838-.252.2706-.267 2.579-2.581.2514-2.272.0206-.203.1868-.082 2.9319-1.335.2955-.134.1618.284 1.9232 3.366 2.4849-2.032.2559-4.378.0059-.069.0338-.07.9631-1.927-4.3876-5.421-.1485-.181.1073-.207 3.3598-6.458-4.2788-5.281h-4.0494l-.0985-.199-2.3291-4.601-7.0224-6.388-.9602 9.213-3.8377-1.92-7.296.383-2.6863 3.457-5.1446-10.84-4.4525 5.657.3852 6.72z', clip-rule='evenodd')
    path#buryatia(fill='#64A651', fill-rule='evenodd', d='M646.483 555.22l16.271 6.558 14.971 3.457 3.069 11.901 10.939 5.756 7.677-.194 10.944-6.524 8.445 2.688 8.825-.578 2.304 4.029 5.078.22 1.665-6.157.043-.153.139-.074 4.87-2.548-5.221-5.699-.256-.281.293-.235 5.091-4.122-1.932-5.806-.157-.471h10.18l5.934-4.946.123-.1.155.02 5.327.727 9.94-13.169.094-.128.162-.013 6.359-.487 1.916-3.117.061-.095.114-.046 5.446-2.229 4.149-5.126.475-5.467-4.352-2.904-.157-.107v-5.649l.141-.107 9.485-7.239 3.234-7.462.061-.146.146-.048 8.296-2.928-.471-6.633-5.101-4.612-5.681-.988-.212-.037-.07-.206-4.748-14.251-2.953-2.705-.23-.212.18-.254 2.941-4.172-.409-4.085-3.482 3.919-.13.146-.192-.028-2.952-.456-1.682 6.48-.049.203-.203.053-15.849 4.274-.235.066-.144-.198-2.66-3.625h-3.679l-.084-.047-3.427-1.829-1.863 4.423-.062.15-.151.048-7.549 2.516-.116.04-.115-.04-3.895-1.376-.92 4.382-.055.253-.251.027-7.677.962.669 3.779 4.679 3.939.272.232-.231.272-3.953 4.697-.735 7.094 2.548 5.996.409-1.198 1.562-9.766.007-.062.034-.057 2.547-4.507.12-.206.232.024 3.332.394.269.032.04.269.593 3.725.007.061-.007.053-1.562 8.777.582 8.547 1.358 4.663.038.116-.046.112-1.792 4.583-2.763 2.564-.879 1.582.938 2.99.037.119-.05.12-1.178 2.941-.066.169-.177.046-2.879.717-.181 3.267-.009.087-.045.078-3.725 6.076-.07.114-.128.043-5.571 1.725-3.654 5.002-.119.165-.199-.018-4.184-.368-1.115 6.345-.019.099-.066.075-3.135 3.53-.054.057-.071.03-10.038 4.442-1.327 4.543-.054.178-.176.062-6.467 2.155-.368.12-.091-.371-.925-3.699-6.83-1.331-.26-.05-.028-.26-.579-4.997-4.729-6.053h-6.417l-.098-.08-13.129-10.385-.041-.034-.027-.036-4.103-5.592-6.574 4.69-.095.071-.117-.005-3.757-.085.19.829.045.19-.138.141-2.016 2.016.735 2.935.047.182-.123.141-2.781 3.15 2.49 4.82z', clip-rule='evenodd')
    path#altai(fill='#64A651', fill-rule='evenodd', d='M451.767 506.339l9.271 44.499 4.989-.767 3.456-4.989 3.262 1.342.96 5.183 10.555 5.761 8.253-3.073 4.414 1.919 3.16 6.522 6.084-.702-.839-3.629-3.71-1.859-.378-.187.247-.342 2.576-3.539.066-.092.111-.036 5.791-1.928.071-.026.075.008 6.864.624 3.695-5.541.314-3.767.055-.664.52.411 4.376 3.437 4.394-.88.316-6.66.157-.099 3.419-2.177 1.205-4.828-2.768-3.076-.208-.231.202-.235 3.289-3.892-4.189-2.989-.094-.066-.037-.106-1.582-4.436-4.777-5.092-.081-.087-.015-.115-.598-4.79-3.329.425-4.309 3.918-.117.103-.157-.014-8.245-.787-2.485 1.913-.22.169-.216-.169-2.55-2.003-7.164 6.967-.248.242-.247-.242-5.589-5.389-.08-.075-.022-.099-.983-4.121-4.588-6.121-18.919 6.505-.131.045-.125-.054-4.013-1.722-1.833 1.284-.194.136-.199-.123-3.013-1.882-3.895 2.288z', clip-rule='evenodd')
    path#novosibirsk(fill='#64A651', fill-rule='evenodd', d='M437.287 487.47l9.932.223-4.031 4.224 8.316 13.744 3.986-2.338.189-.107.182.111 2.992 1.875 1.803-1.263.164-.116.181.078 4.066 1.744 19.035-6.542.246-.087.156.211 4.79 6.388.049.062.016.071.972 4.087 5.265 5.08 7.142-6.946.222-.22.245.195 2.576 2.024 2.375-1.825.112-.088.141.013 8.225.784 4.161-3.782.196-25.435h-3.305l-4.691 3.909-.285.238-.225-.294-1.997-2.597-.084-.106.009-.134.577-9.613-13.806-.388-.206-.009-.097-.176-2.492-4.601-7.168.194-.281.009-.072-.274-1.382-5.12-4.494-5.863-24.168-11.503v8.024l-.176.104-4.559 2.659 1.331 5.13.127.479-.495-.034-5.908-.391-4.599 1.914-2.686 4.795.594 13.876.006.074-.031.079-3.141 7.454z', clip-rule='evenodd')
    path#irkutsk(fill='#64A651', fill-rule='evenodd', d='M678.593 536.359l-.674-3.534-.057-.314.301-.095 3.423-1.081-1.477-5.171-.091-.313.31-.117 4.092-1.536.301-.115.146.288 3.188 6.377 7.948-4.733.281-.164.19.264 2.747 3.844.003.004 2.355 2.156 3.072-1.151.066-.025h4.501l.108.169 2.109 3.345.137.21-.158.199-8.259 10.508-.206.269-.276-.194-5.018-3.53-6.149.578-.119.012-.103-.067-3.606-2.274-.02-.012-4.307-3.135-4.436-.372-.269-.021-.053-.269zm34.709-176.796l-2.32 2.578-.079.087-.115.023-5.517 1.16-4.998 2.224.277 5.546 1.441 3.742.054.14-.063.135-2.839 6.253 2.82 4.513.045.075.008.082.582 6.718.009.103-.046.093-4.384 8.474-.047.089-.081.05-7.298 4.494 2.741 4.662.121.203-.142.188-3.105 4.242 1.648 5.494 6.244 1.985.198.062.046.202.876 4.093.04.182-.128.137-4.588 4.871-.259 3.383 2.928.797.182.049.062.182 1.462 4.386.07.206-.159.157-3.439 3.441-1.436 5.164-.124.451-.401-.235-6.426-3.799-.094-.058-.05-.104-3.064-6.684-5.927 2.692-.85 5.648-.012.113-.075.076-13.041 14.204.571 6.561.022.26-.243.1-3.505 1.462-.316.132-.144-.31-5.013-10.856-3.436 4.492-.103.135-.168.005-13.529.579-5.355 9.862 6.024 9.463.081.125-.033.144-1.169 5.257-.053.244-.244.034-5.955.849-3.387 6.489-1.163 17.459-.023.368-.368-.038-5.746-.574-4.088 1.904v3.416l9.836 8.808 14.772 10.303 5.953-.389.304-.014.066.297.232.998 3.814.091 6.766-4.831.286-.208.209.287 4.285 5.842 12.989 10.278h6.523l.106.136 4.902 6.275.062.079.008.101.561 4.832 6.799 1.322.222.045.054.22.888 3.546 5.926-1.975 1.183-4.065h-6.412l-.098-.208-1.372-2.94-.137-.288.278-.165 2.941-1.769.061-.037.071-.009 4.033-.576 8.103-5.596 2.898-4.448.025-.038.037-.033 6.005-5.422 1.341-4.026.013-.037.021-.029 3.526-6.079.009-.013 4.29-6.627 3.706-10.152 2.77-8.147-2.898-6.814-.034-.086.009-.092.756-7.296.008-.107.072-.087 3.795-4.506-4.508-3.795-.098-.086-.022-.123-.756-4.28-.066-.372.376-.045 7.798-.974.952-4.531.083-.4.385.136 4.163 1.47 7.275-2.423 1.95-4.633.153-.36.342.185 3.697 1.966h3.865l.106.15 2.623 3.576 15.417-4.16 1.704-6.59.083-.313.317.048 3.082.472 3.894-4.382.542-.607.556 5.567 9.396 1.445 5.525-3.845.239-7.174-5.88-4.167-.146-.098-.006-.172-.504-9.056-.009-.187.149-.115 3.27-2.515.092-.071.115-.004 8.024-.234-7.54-17.098-4.048-2.804-7.095 3.225-.359.166-.123-.381-2.594-7.775-11.332-4.53-5.667.941-8.848 19.013-.021.041-.032.037-5.951 6.946-.253.293-.278-.271-4.293-4.295-2.743 4.876-.098.173-.203.009-8.152.327-5.533 4.233-.256.194-.22-.237-5.293-5.62-.108-.116.012-.153.991-14.552.004-.057.027-.059 4.801-11.207-6.232-1.868-.156-.048-.066-.149-2.974-6.612-.049-.112.025-.119 2.254-9.328-5.059-2.842-.19-.107.009-.22.331-9.166-3.738-7.161-2.978 2.081-.103.075-.123-.009-4.299-.331-.334-.025v-5.156l.169-.105 3.333-2.121-2.76-4.181z', clip-rule='evenodd')
    path#zabaykalsky(fill='#4E8240', fill-rule='evenodd', d='M779.119 560.109l1.76-4.529.078-.198.079-.203.215-.025.21-.025 9.928-1.213 2.85-5.935.206-.434.207-.433.355.326.354.325 2.276 2.082 2.37-5.608.074-.176.075-.174.186-.038.186-.037 5.03-1.009v.005l.137-.028.139-.029.119.075.12.077v-.004l6.038 3.774.211.133.207.128-.091.479-.756 4.026-.041.228-.046.231-.228.054-.222.053-2.965.694 5.043 4.624h.004l.383.355.388.357-.474.227-.47.23-20.885 10.061-.178.086-.177.087-.164-.103-12.241-7.652-.252-.158-.251-.156.106-.278.107-.272zm-43.382 22.452l3.215.137 3.262 6.145 25.141 2.299 16.89-10.17 5.377-.191 1.726-5.566 8.251-7.676 11.517-.578 3.452 3.263 4.798-4.416 20.347 3.267 2.878-7.871 6.91-4.799-2.878-7.099 3.071-19.194 5.183-5.183-3.457-9.214-7.293-.767 5.185-9.596 9.141-6.345-8.407-12.611.139-.198 2.792-3.956-4.941-2.824-.162-.097-.018-.189-.722-9.642-4.877 1.16-.26.062-.133-.236-3.092-5.48-6.487 3.604-.237.13-.188-.192-4.023-4.021-.215-.213.174-.249 2.304-3.221-7.994-5.332-.076-.045-.041-.083-10.213-18.926-8.218.244-3.026 2.329.482 8.697 5.894 4.179.157.112-.004.189-.259 7.727-.146.103-5.786 4.027-.12.078-.135-.02-9.598-1.474-2.71 3.839 2.788 2.553.066.062.03.091 4.715 14.135 5.575.97.1.018.078.07 5.285 4.778.105.098.012.141.504 7.045.016.273-.256.09-8.409 2.966-3.207 7.404-.038.086-.07.059-9.42 7.185v4.919l4.37 2.91.174.117-.018.21-.504 5.791-.008.106-.069.086-4.278 5.282-.055.071-.087.033-5.427 2.221-1.952 3.173-.094.156-.183.013-6.38.491-9.964 13.205-.128.166-.208-.029-5.38-.731-5.914 4.926-.103.088h-9.441l1.856 5.566.078.235-.19.154-4.993 4.038 5.281 5.761.31.338-.408.221-5.145 2.692-1.584 5.85z', clip-rule='evenodd')
    path#sakha(fill='#4E8240', fill-rule='evenodd', d='M961.244 124.414l-1.957 3.797-10.56 5.949-7.673-7.295-7.677-.766-10.944 7.102-7.482 9.213-2.69 9.403-4.987 1.535-6.145-3.07-5.947.575-3.072 4.032-2.688-2.304-2.495 2.689-3.067-2.88 4.409-4.414-10.361-.769-5.951 5.183 3.263 11.132-5.951 5.756v-8.635h-4.03l-4.03 3.646-.959-4.415 5.951-5.374-6.336.385-18.809 9.596 3.646 4.414-5.373 5.183 2.11 3.837 3.841-1.92.384 5.568 4.605 5.375-7.103 1.726-2.11 2.88 1.92 4.604-5.756.962-7.679-2.304-2.302 8.635-13.054-2.303v19.193l-9.211-1.533-14.205-12.86 5.183-3.647-8.634-12.86-5.568-2.686-8.445 2.878-9.403-3.646-1.345 14.587-17.08 7.293-6.525-4.416.957-3.452-17.464-.193-4.608 6.142-1.153 4.032-1.148-5.951-3.266-2.881-3.836 4.032-5.323 2.66-.294 3.657 2.487 3.314.048.068.018.081 1.128 5.912 8.225 11.634.066.094v7.685l4.196 5.035.236.279-.286.23-9.585 7.61-.553 4.417-.013.086-.046.07-2.245 3.369-1.694 8.2-.069.322-.322-.04-4.699-.552-7.587 6.179-.028.024-.034.018-2.548 1.314 6.017 9.199.05.078.008.089 2.043 25.711.013.149-.103.118-5.29 5.849 3.489 2.686.178.135-1.471 7.052 3.094 3.375.09.1v4.917l3.648 2.523.226.16-.094.262-1.757 4.67-.019.061-.038.046-5.483 6.637-.528 4.753h9.07l.1.079 3.887 3.051 4.165-2.776.274-.181.207.256 2.336 2.919.186.239-.015.018 3.06 4.636.197.303-.306.197-3.469 2.205v4.106l3.841.297 3.201-2.243.335-.23.186.358 3.968 7.608.044.081-.003.097-.323 9.038 5.101 2.872.235.131-.062.264-2.288 9.47 2.863 6.355 6.459 1.936.378.116-.156.368-4.934 11.522-.98 14.333 4.963 5.274 5.37-4.105.085-.066.118-.005 8.065-.32 2.877-5.123.231-.407.335.329 4.357 4.357 5.67-6.611 8.907-19.137.078-.169.185-.032 5.957-.993.1-.016.09.038 11.574 4.629.155.062.053.157 2.518 7.561 6.917-3.147.182-.082.169.114 4.3 2.978.081.057.042.093 7.789 17.662 10.121 18.759 6.369-4.166.028-.02.032-.012 6.617-2.648.193-.078.166.131 5.054 4.11 2.746-2.446.244-.213.239.218 4.047 3.737 3.726-3.724.108-.112.156.005 9.259.333.119.005.092.07 5.793 4.506 11.389-4.229.195-.069.157.131 3.795 3.164 15.672-7.183.107-.053.115.025 4.525.971 4.92-1.843-.611-3.679-.046-.256.231-.12 12.125-6.305-3.032-8.549-.074-.201.149-.159 4.073-4.364-1.687-4.213-7.755-5.071-.269-.176.15-.286 4.079-7.875-7.59-5.252-.326-.228.26-.299 3.536-4.128V376.52l.231-.09 14.883-5.655.582-6.723.03-.304.304-.022 8.825-.585 2.007-5.452-.297-5.661-.013-.24 4.473-2.086-3.205-11.359-5.929-4.155-.21-.144.069-.245 3.89-13.775-5.388-14.382-.071-.187.119-.154 3.019-3.926.157-.205.24.084 10.476 3.589 6.686-1.452 2.338-4.089.087-.15.173-.025 7.921-1.175 1.413-5.08-13.182-27.346-.05-.109.021-.115 1.336-6.686.031-.138.115-.084 8.837-6.237-3.332-6.408-.125-.24.198-.185 8.557-8.022.088-.084.119-.012 7.619-.788 4.373-4.889.775-8.529-4.946-4.425-.11-.101-.009-.149-.262-5.514-3.158-4.733-.165-.253.223-.207 3.763-3.511-4.06-4.823-.223-.26.251-.231 9.894-9.091.046-.045.062-.022 4.449-1.832 3.3-4.824-6.233-12.98h-7.871l-.071-.03-6.149-2.673-.135-.062-.053-.138-3.21-8.29-.079-.198.141-.161 12.479-14.608v-7.177l-16.327-12.248z', clip-rule='evenodd')
    path#primorsky(fill='#4E8240', fill-rule='evenodd', d='M1012.42 546.477l-.74 22.404 4.03 6.908-15.735 1.347-5.183 11.323 14.588 14.97.38 5.567 8.06-7.677 13.82.19 9.98-8.061 5.95-11.898 2.88-32.632 4.03-17.08-2.68-19.987-3.94-1.119-.22-.057-.04-.216-.96-4.782-6.55-4.686-7.35 5.508 4.36 4.724 6.95.583.38.029-.06.375-1.57 10.823-.05.297-.29.009-4.93.187.74 6.899.02.216-.17.119-7.09 4.725-.08.049-.09.009-11.65.775-2.92 3.829 2.26 4.521.21.409-.44.1-5.9 1.3z', clip-rule='evenodd')
    path#khabarovsk(fill='#64A651', fill-rule='evenodd', d='M1005.99 522.33l5.11 8.355-1.91 6.146 3.12 8.936 5.4-1.19-2.15-4.309-.1-.203.13-.174 3.15-4.135.1-.132.16-.007 11.71-.781 6.83-4.551-.81-7.446.39-.016 5.01-.187 1.48-10.15-6.71-.561-.13-.012-.1-.1-4.72-5.116-.27-.294.32-.235 7.87-5.905.21-.157.21.153 6.89 4.918.11.082.03.142.94 4.703 3.52.996 1.74-22.64-2.49-7.098-11.13-22.646-3.65-4.415-3.26-15.932-2.23-5.299-.77-.859-8.33-3.439-2.88-3.452 2.5-4.994-6.14-2.493-12.86-2.304-9.982 5.181-3.457 15.166-4.22-5.379-4.799 6.146-4.03-11.708-8.445 5.18-7.103-1.15.384-6.718 9.213-23.031 2.304-23.03 2.685-11.134-2.301-9.213 3.069-8.25-1.343-8.83 19.386-19.002 6.14 1.149.579-2.301-1.727-2.687 2.707-1.783-3.343-5.845h-6.619l-5.642 4.157-.34.25-.188-.378-2.717-5.436-.088-.166.092-.165 3.259-5.921-1.447-7.22-13.219-4.406-6.087 4.056-1.471 5.307-.066.223-.226.036-7.978 1.18-2.33 4.078-.077.138-.158.031-6.946 1.511-.095.019-.094-.03-10.325-3.538-2.741 3.56 5.364 14.306.041.112-.03.109-3.856 13.648 5.827 4.079.107.075.034.119 3.32 11.777.082.29-.272.128-4.312 2.01.288 5.496.004.075-.023.066-2.115 5.736-.079.219-.231.017-8.75.582-.578 6.642-.02.222-.212.079-14.861 5.648v17.394l-.088.1-3.366 3.926 7.524 5.208.26.182-4.224 8.143 7.578 4.955.095.062 1.855 4.633.082.212-.153.165-4.08 4.368 2.929 8.252 12.036-6.261.24-.126.19.2 3.968 4.299.162.174-.105.22-5.908 12.81.652 6.186.022.231-.199.114-4.439 2.537.297 5.062h10.105l.107.156 4.519 6.779 4.959-.311 8.09-7.446 1.301-5.516.062-.277h6.346l1.888-3.771.116-.231.256.038 4.298.66.219.033.066.216 3.969 12.235.071.207-.158.151-2.644 2.649-.08.077-.117.021-9.783 1.578 2.445 5.192.1.217-.162.178-3.898 4.222-.975 5.519-.017.096-.062.075-5.761 6.722 2.461 3.078.169.213-.164.219-3.894 5.195v6.277l10.385 5.192.08.041.048.071 8.359 11.574 5.228-4.959.108-.1.144.004 11.216.194.124.005.096.073 4.964 4.01 14.966-5.054.62-.207-.16.632-1.57 6.346z', clip-rule='evenodd')
    path#amur(fill='#64A651', fill-rule='evenodd', d='M859.068 498.64l13.079-6.723 9.982 3.453 12.091-1.916 17.658 17.464 21.879 22.646 8.638-3.452 5.374 2.495 3.839-1.922 7.293 2.304 3.948-.514 6.923-10.54-8.4-11.636-10.506-5.248-.199-.105v-6.95l.071-.096 3.802-5.069-2.473-3.094-.182-.231.19-.223 5.888-6.867.975-5.526.022-.107.069-.075 3.804-4.126-2.541-5.401-.204-.429.469-.075 10.134-1.635 2.413-2.411-3.832-11.815-3.824-.591-1.866 3.732-.1.203h-6.219l-1.261 5.345-.024.107-.082.073-8.268 7.608-.095.081-.124.009-5.293.335-.203.013-.116-.173-4.522-6.786h-10.398l-.021-.338-.331-5.62-.011-.225.189-.106 4.432-2.532-.64-6.05-.008-.099.041-.087 5.852-12.682-3.622-3.923-24.331 12.654.619 3.712.05.289-.278.103-5.289 1.982-.1.039-.099-.022-4.518-.966-15.763 7.222-.207.096-.169-.145-3.811-3.177-11.381 4.229-.191.07-.151-.123-5.866-4.558-8.985-.319-3.861 3.858-.24.242-.252-.235-4.064-3.745-2.733 2.428-.227.203-.235-.194-5.13-4.163-6.383 2.551-6.212 4.069 7.852 5.233.304.204-.21.301-2.343 3.276 3.622 3.622 6.553-3.642.311-.174.178.311 3.134 5.549 5.026-1.193.405-.098.032.42.739 9.869 5.12 2.929.34.195-.222.32-2.879 4.077 8.155 12.231z', clip-rule='evenodd')
    path#belgorod(fill='#64A651', fill-rule='evenodd', d='M100.103 309.405l-2.7718 3.442-1.3424 2.111.5749 2.878 2.8775 1.344-.3823 4.415 7.2931 4.607.191 8.443 5.726 10.882 7.941-8.046-.71-3.547-.025-.132.069-.119 1.243-2.119.108-.185.215.01 2.46.109-.088-1.434-1.36-1.019-.278-.211.204-.284 1.546-2.145v-3.978l-5.288-5.418-5.236-1.098-.066-.015-.059-.037-3.727-2.489-.108-.072-.036-.125-.931-3.147-1.891-.316-1.879 1.059-.216.122-.191-.162-3.863-3.324z', clip-rule='evenodd')
    path#kursk(fill='#64A651', fill-rule='evenodd', d='M105.114 290.75l-3.176 1.369-1.535 3.07-2.3057.578-.1926 3.836 3.2653 1.922-.795 7.172 3.865 3.326 1.769-.998.111-.06.123.02 2.237.374.22.036.065.217.959 3.236 3.559 2.379 5.275 1.104.105.024.077.079 5.227 5.355 2.356-2.135.102-.092h2.166l.109.13.988 1.211 1.091-.183.591-1.378-2.361-3.195-.065-.083-.009-.105-.228-3.119-2.502-.799-.152-.047-.066-.143-.745-1.616-.033-.075v-2.694l-1.168-1.522-.074-.098v-5.727l-8.397-10.974-10.456-.395z', clip-rule='evenodd')
    path#smolensk(fill='#64A651', fill-rule='evenodd', d='M133.7 232.616l-.862 1.539-6.334 3.647-3.263 5.183-3.454 7.1-.382 5.757.958 3.457-2.495 3.07-.156 2.373.099.072 6.047.39 2.438-1.072.069-.031h.081l4.788.1 2.613-2.417.111-.105.149.009 3.521.201.253.014.069.242 1.484 5.095 1.316-.773.109-.065.123.018 2.619.403.15.025.087.125 1.291 1.84 6.85-.674 4.092-2.634 4.539-6.509.175-1.572-3.123-3.807-.065-.079-.014-.1-.469-3.464-7.69-1.363-.081-.015-.069-.05-3.722-2.717-.069-.05-.037-.071-4.931-9.257-.009-.017-.006-.013-1.559-3.705-1.479-.784-2.983.772-.075.019-.068-.01-.636-.097z', clip-rule='evenodd')
    path#tula(fill='#64A651', fill-rule='evenodd', d='M138.362 287.412l-.193 6.06 1.544 3.374 3.269 2.972.137.126-.025.184-.784 6.186 2.628 3.19 2.774.278 4.238-1.973.087-.04.099.009 2.685.269.247-1.577.015-.09.049-.069 1.913-2.616.011-.015.015-.016 3.83-4.124v-2.726l.105-.103 2.294-2.297-.468-4.687-2.769-1.719-.089-.055-.046-.092-1.203-2.506-5.85.284-1.406 1.689-.199.237-.261-.159-5.089-3.095-1.425-.445-6.133 3.546z', clip-rule='evenodd')
    path#kaluga(fill='#64A651', fill-rule='evenodd', d='M158.766 284.638l1.093-1.365 1.744-2.52v-5.92l-2.732-1.507-.077-.043-.051-.078-2.114-3.321-.04-.066-.012-.074-.52-3.38-3.763 2.421-.071.046-.086.009-7.148.704-.206.019-.119-.17-1.322-1.885-2.344-.362-1.598.941-.392.234-.131-.441-1.538-5.292-3.12-.178-2.607 2.411-.106.099-.144-.003-4.85-.1-2.339 1.031-1.397 2.421.091 2.132 1.225 2.353 1.813 1.037 1.219-.959.109-.087.138.012 2.816.201.289.021.039.287.301 2.111.037.237-.207.122-2.172 1.284-1.275 1.274v1.663l1.001 1.641 9.805 5.195 6.269-3.623.134-.079.15.047 1.612.501.036.012.04.026 4.87 2.96 1.315-1.576.1-.122.157-.006 6.078-.295z', clip-rule='evenodd')
    path#moscow(fill='#64A651', fill-rule='evenodd', d='M156.702 265.854l.57 3.712 2.022 3.176 2.839 1.569.187.1v6.562l-.065.093-1.81 2.616-.017.019-1.068 1.334 1.168 2.42 2.83 1.758.149.092.016.176.504 5.033.016.169-.117.118-2.312 2.313v2.191l3.219-.175 1.313-1.218.175-.165.215.099 1.899.856 3.021-.756 1.048-.856.207-.172.222.154 2.006 1.405 1.585 1.057 1.506-1.329.106-.096.144.006 4.725.193 1.781-2.715 1.216-3.457-1.137-1.049-.025-.022-.016-.02-2.113-2.717-.036-.048-.022-.062-1.709-5.232-.037-.111.037-.109 1.206-3.723.023-.071.046-.054 3.926-4.529.017-.018.012-.011 2.429-2.235.546-2.737-3.098-3.664-7.38.099-.108.001-.089-.057-8.152-5.233-.175-.115.013-.206.185-3.088-.966-.483-.824.826-.083.082-.12.018-6.971.968-.071.629-.01.091-.05.074-4.548 6.524z', clip-rule='evenodd')
    path#vladimir(fill='#64A651', fill-rule='evenodd', d='M188.627 273.076l-1.959 1.801-3.861 4.454-1.148 3.542 1.654 5.063 2.06 2.648 1.285 1.185.17.159-.076.223-1.307 3.722-.015.045-.023.033-1.791 2.733 7.35 12.382 5.126-3.066.081-.047.092-.003 6.502-.217 7.148-4.31-1.494-4.185-6.998-8.966-3.461-1.514-.071-.031-.051-.055-2.657-2.88-.201-.218.178-.238 1.949-2.6.821-3.279-1.625-1.623-3.513 2.895-.257.214-.229-.243-3.326-3.547-.087-.092-.009-.128-.257-3.857z', clip-rule='evenodd')
    path#ivanovo(fill='#64A651', fill-rule='evenodd', d='M198.106 278.622l.474.472.142.141-.05.199-.885 3.543-.02.07-.043.058-1.815 2.422 2.407 2.607 3.475 1.52.084.036.054.073 7.09 9.081.037.05.019.052 1.506 4.221 2.308-.46 1.675-2.412.099-.141.172-.011 4.287-.33.155-.012.114.109 1.678 1.576 2.686-1.536.781-9.325-4.226-2.323-.175-.097-.01-.199-.213-3.839-1.954-1.757-3.126 1.042-.144.049-.136-.072-10.317-5.488-6.129.681z', clip-rule='evenodd')
    path#tver(fill='#64A651', fill-rule='evenodd', d='M189.632 268.853l5.43-2.457-.748-2.545-.025-.08.016-.082 1.671-9.196.058-.314.318.02 4.689.325 5.945-5.784-.778-6.864-5.808.037-.038.375-.521-.463-6.403-5.704-3.834.232-.139.009-.106-.088-4.586-3.748-.091-.075-.03-.119-.813-3.373-3.414-2.431-1.253.963-.578 3.129-.057.321-.322-.028-8.446-.725-.116-.009-.09-.081-2.832-2.48-8.241-2.156-.066-.017-.055-.039-4.343-3.143-.019-.013-.024-.024-2.294-2.303-2.226 2.227-1.304 5.436-.015.061-.032.052-2.439 3.765-.083.128-.147.03-5.724 1.105 1.435 3.406 4.883 9.168 3.588 2.618 7.869 1.396.259.045.034.259.49 3.625 3.155 3.845.097.117-.016.147-.05.449 6.67-.927.922-.922.182-.18.231.114 1.407.706.212.104-.014.236-.189 3.114 7.887 5.061 7.438-.099.169-.002.109.129 3.145 3.717z', clip-rule='evenodd')
    path#yaroslavl(fill='#64A651', fill-rule='evenodd', d='M224.793 269.779l-4.639-4.431-.153-.147.058-.206 1.788-6.511-3.447-4.23-2.996.159-.117.004-.094-.062-7.787-5.028-5.98 5.821-.116.112-.157-.012-4.532-.313-1.6 8.795.813 2.763.089.299-.284.126-5.789 2.62-.56 2.795.3 4.426 3.005 3.207 3.511-2.889.25-.206.228.228.875.878 6.809-.757.112-.014.094.053 3.391 1.801 6.155-3.74 1.507-2.367.102-.158.183-.009 4.992-.216 3.989-2.791z', clip-rule='evenodd')
    path#orenburg(fill='#64A651', fill-rule='evenodd', d='M216.149 407.142l-.204 4.356 2.301 5.567 2.688-.575 1.919-1.73 4.031 1.92-.192 2.689-1.152 2.494 1.344 1.535 3.838 1.342 1.535 5.375 1.535 6.718-1.726 4.224 1.726 3.453 4.416-2.684 1.918.574 1.344 2.877.959 4.994 2.878 2.109 3.458-2.304 3.263.195 6.14 2.684-.193 2.878 1.344 2.304 3.072.579 2.494-2.689 2.687 2.689 3.456 2.109-.769 5.374.769 3.072 3.454 3.836 2.877.961 2.881-1.73 2.304.769 1.727 3.457 7.101 2.304 3.07-2.304 3.072-4.414-5.431-11.885-.486-.331-.096-.071-.041-.116-1.266-3.798.199-.154 2.948-2.307.713-2.135-1.457-3.159-7.609-2.329-3.541.935-1.835 4.322-.105.238-.26-.025-4.593-.444-.128-.013-.09-.091-4.185-4.184-7.737-1.768-.161-.036-.075-.15-1.681-3.249-.115-.224.172-.181 3.019-3.224-1.895-2-.109-.112.007-.151.112-2.016.015-.251.241-.071 2.785-.826.297-4.729-3.981.199-1.936 1.292-.485.322-.068-.578-.672-5.599-.034-.278.259-.098 1.801-.703.203-3.32-1.804-2.015-.096-.107.005-.141.222-7.83-2.173-3.038-.066-.097v-10.562l-2.097-4.634-.049-.112.028-.115.966-4.187-2.768-3.119-.117.488-.004.021-1.431 4.729-.009.032-.016.034-1.1 2.085-.048.094-.096.054-8.156 4.569-2.039 3.757-.069.127-.139.043-5.608 1.759-.027.007-.027.004-2.869.427-5.747 4.987-.089.078-.117.009-8.305.649-.219.294z', clip-rule='evenodd')
    path#samara(fill='#64A651', fill-rule='evenodd', d='M208.968 380.122l.197 2.683 1.183 4.625 3.36 4.224.09.118-.012.134-.428 5.155 2.895 4.183.049.071.01.08.33 2.31.004.028-.003.039-.091 2.345 7.952-.621 5.737-4.978.078-.071.103-.018 2.941-.433 5.446-1.709 2.019-3.72.048-.093.089-.048 8.156-4.567 1.033-1.962 1.416-4.687.512-2.148-4.064-5.876-1.737-1.548-1.861 1.272-.06.041-.069.016-1.652.326-.228.05-.133-.194-3.309-4.753-1 .746-4.158 4.379-.034.037-.044.025-2.417 1.428-.127.075-.144-.037-3.077-.769-.082-.019-.067-.059-4.711-4.163-3.18-2.333-2.939.315-4.897.639-1.942 2.759-.085 1.205 1.547.772.236.116-.047.261-.548 3.192-.033.19-.179.077-2.073.89z', clip-rule='evenodd')
    path#ulyanovsk(fill='#64A651', fill-rule='evenodd', d='M197.736 369.925l.1 4.366 7.932 4.286 2.806.933 2.007-.858.472-2.74-1.522-.758-.213-.108.017-.236.109-1.54.006-.1.059-.082 2.089-2.969.091-.128.156-.02 5.057-.658.009-.004 3.079-.326.136-.015.114.081 3.296 2.421.009.003.016.018 4.661 4.116 2.856.716 2.252-1.331 4.144-4.36.019-.022.025-.02 1.022-.768-3.064-3.78-.189-.234.195-.223 1.329-1.537-.288-3.282-6.183-.422-.169-.007-.099-.141-3.529-5.026-4.443-.212-.227-.01-.088-.212-1.629-4.017-4.854-5.786-.659.809-.863 4.311-.014.071-.04.057-1.097 1.648-.153.232-.263-.092-7.443-2.585v7.884l-.09.099-1.597 1.796 1.427 2.751.072.136-.052.148-.66 1.872-.028.074-.066.061-6.04 5.72z', clip-rule='evenodd')
    path#penza(fill='#64A651', fill-rule='evenodd', d='M181.537 328.325l-2.152.091-.066.003-.063-.023-2.385-.826-4.107 4.871-.886 5.211-.099 7.921-.001.111-.066.095-1.309 1.81-.05.07-.075.041-.91.466 5.895 9.289 4.114.42.183.019.092.159 1.32 2.307.047.084v2.75l8.233 4.811 8.01 1.392 5.961-5.646.581-1.642-1.468-2.834-.111-.219.163-.182 1.669-1.879v-7.78l-2.859-.194-.208-.016-.093-.19-2.007-4.341-4.599-.817-1.521 1.316-.322.278-.217-.363-2.86-4.729-.044-.071-.006-.082-.415-5.282h-5.087l-.086-.238-2.196-6.161z', clip-rule='evenodd')
    path#nizhny(fill='#64A651', fill-rule='evenodd', d='M191.278 311.71l1.41 3.848.979 2.644 6.163 6.239.088.089.012.127.763 7.624 2.635 4.955 2.179.363.554-1.384.087-.214.231-.009 5.196-.215.781-1.267.179-.293.301.169 1.758.991.154.087.026.178.305 2.241 1.96 1.12 4.299-3.073.535-5.773.024-.247.235-.066 5.574-1.576.272-8.661.331-.013 5.036-.219 2.71-2.167.197-.159.215.135 5.425 3.404 4.285-5.997.209-.293.291.213 5.098 3.683 3.546-1.564 1.552-1.841-3.021-3.935-6.21-6.318-3.454-1.51-.144-.063-.052-.147-1.126-3.176-3.819-.1-1.557 1.036-.088.061-.113-.003-13.098-.106-2.996 1.711-.229.13-.194-.181-1.753-1.648-3.962.304-1.663 2.386-.081.121-.144.028-2.688.538-7.423 4.474-.079.049-.094.004-6.506.217-5.101 3.049z', clip-rule='evenodd')
    path#bashkortostan(fill='#64A651', fill-rule='evenodd', d='M286.03 369.916l-3.485 3.16-.104.091h-3.304l-.735 4.629-.034.215-.21.066-5.598 1.792-.077.024-.075-.006-6.263-.744-.486 3.398 2.453 2.448.081.079.018.119.672 4.142.023.146-.084.119-1.12 1.566-.196.272-.282-.173-3.729-2.304-2.354-.1-1.469 3.253h-.001l-1.343 3.021-.094.213h-1.219v10.056l2.175 3.043.07.096-.004.119-.222 7.814 1.811 2.018.099.114-.01.147-.222 3.696-.015.227-.215.083-1.755.686.57 4.745 1.532-1.021.081-.053.1-.004 4.479-.228.4-.016-.363 5.772-.014.247-.241.075-2.782.824-.089 1.61 2.021 2.13.233.24-.233.249-3.074 3.286 1.489 2.877 7.677 1.757.103.02.069.075 4.167 4.167 4.203.407 1.799-4.241.072-.157.169-.044 3.582-.951.522-3.229.449-3.362.034-.247.239-.054 4.574-1.066.527-3.679.01-.066.037-.062 3.805-6.496.053-.082.083-.049 6.384-3.585.165-.091.172.087 3.171 1.638h1.547l1.159-4.104.053-.191.186-.057 3.185-.987 1.763-1.391-2.461-2.56-1.438.672-2.347 1.231-.135.07-.144-.048-10.19-3.358-.059-.021-.053-.043-2.351-1.905-.066-.052-.035-.081-2.69-6.047-.056-.128.045-.131 1.23-3.585.043-.123.112-.067 4.815-2.911.1-.062.115.012 2.688.224.157.011.097.13 2.129 2.799.069.094.003.117.106 4.646 1.939 1.551 2.49-1.139.087-.041.094.007 2.352.225.097.007.075.059 1.571 1.118.017.016.024.022 3.618 3.51 1.685-.939 1.196-2.395-2.217-2.957-.055-.073-.015-.091-.336-2.35-.014-.116.052-.103 2.323-4.311.5-3.507-1.888-.284-.047-.009-.043-.014-6.609-2.918-.038-.016-.041-.028-2.798-2.244-.084-.064-.033-.105-1.019-3.149-2.696.7-.235.059-.143-.195-1.232-1.68-.053-.071-.013-.086-.449-2.912h.003l-.396-1.775-3.033-.73-.251-.064-.021-.255-.312-3.944-7.074-.322-.344-.012v-5.575l-3.083.098z', clip-rule='evenodd')
    path#kirov(fill='#64A651', fill-rule='evenodd', d='M307.818 309.18l-4.724 2.158-.137.062-.14-.053-13.442-5.182-4.537 5.086-.224.253-.265-.213-2.136-1.707-.135-.11v-8.22l-1.112-2.636-.085-.207.15-.17 10.766-12.036-.45-5.201-3.123-3.79-4.232.669-6.109 3.993-.096.063-.114-.004-5.444-.226-.764 1.913 3.858 3.631.263.247-.254.262-4.741 4.896-.006.009-2.341 2.553-.217 7.399-.009.356-.351-.009-11.59-.218-4.595 4.677 2.89 2.941.008.007.019.027 3.216 4.182.174.226-.184.221-1.793 2.126-.057.063-.072.034-3.808 1.68-.187.083-.166-.119-4.974-3.597-4.176 5.849.945 4.203 2.181 1.767 10.103 1.775.122.02.082.094 4.03 4.479.042.044.022.058 1.345 3.251.025.057.003.066.223 6.608.005.162-.005.004.112 11.094.408 1.285 2.374-6.058.077-.192.203-.031 5.594-.859 2.626-9.523.08-.284.289.025 2.916.222.06.004.064.03 3.152 1.473 3.86-3.238.319-2.649.112-2.334.016-.351.353.011 6.274.225.132.003.097.091 3.676 3.462 2.848-.53.197-.036.134.155 2.215 2.546 1.729 1.345 2.949-3.316 2.294-3.109-2.61-2.284-.12-.107v-4.15l.217-.092 9.943-4.185-.335-5.354-5.932-7.845z', clip-rule='evenodd')
    path#yamalo(fill='#64A651', fill-rule='evenodd', d='M545.706 218.574l-3.867.228-1.92 6.909-6.333-5.758-1.729 5.949 6.721 7.293.384 6.333-12.285-10.94-.382-6.909 5.18-6.333.767-10.172-2.111.96-2.495 6.91-3.838 3.454-4.03 1.152-3.839 5.758.191 15.161-9.405 14.779.577 9.021h9.598l7.868 9.404v9.021l-5.568 6.718 1.536 3.07 4.416 2.496-8.252 1.918-2.304-8.637 6.14-10.747-2.685-8.062-9.406-1.344-5.183 4.992-.575 11.324-8.638 8.828-7.868 2.88-5.374 5.758-18.04-11.133v-5.375l12.091 5.566 6.334-2.493 10.172-6.527 6.909-13.82-1.151-7.484 11.709-27.831 1.341-4.796-1.341-6.335 7.677-7.293 1.536-10.172-5.951-7.869 6.111-.799-.895-7.404-6.061-.45-.448 5.386 1.293 3.267-3.84-1.535-5.758 4.415-6.909 8.828-5.375 5.181-8.06 1.921-4.225 4.029 4.225 5.565-4.605 8.254-6.335 1.92-.192 2.879 5.566 5.758-1.92 5.373.962 3.455 2.11 3.072-7.102 6.524-2.303-3.645-1.92-8.254-7.495-12.027-4.292 3.574 2.522 4.483.097.175-.097.177-5.259 9.346 2.027 6.666.052.159-.091.137-3.328 5.14-.119.041-5.236 1.746-3.491 4.073-.101.116-.155.007-13.206.588-6.724 5.552-.094.078-.127.002-4.326.069-.386 11.231-.003.107-.064.09-5.17 7.277 3.35 7.069 12.728.963.105.009.087.066 6.076 4.704.132.103.006.169.19 6.12 2.145 1.967 14.574.778.162.009.097.126 4.508 5.683.075.091.003.118.387 9.294 2.479 3.241.078.103-.003.125-.187 6.097h9.768l.1.097 8.779 7.993 12.094 5.27.106.047.057.094 4.466 7.376 7.888 4.811 8.014.764 6.553-4.82.237-.178.219.203 5.967 5.583 6.129-.189.192-.009.11.165 4.606 6.715 2.379.182.132.013 4.513 4.513 9.139-11.613.574-7.486.009-.104.057-.078 6.048-8.355-1.118-6.722-7.075-5.307.038-.215 1.728-9.783-4.586-6.307-.081-.109.014-.136 1.447-13.591-5.753-7.481-.118-.152.059-.178 2.295-6.884-2.283-5.427-.159-.379.394-.106 7.422-1.999 3.141-7.976-1.645-9.405-7.761-1.939-.122-.031-.076-.1-7.133-9.415-.103-.134.041-.167 1.426-5.707.043-.166.162-.072 10.676-4.779 1.072-4.271-4.511-9.584-.05-.101.022-.114 1.138-6.277.05-.247.246-.041 4.669-.778-4.364-9.272-.026-.054-.006-.066-.071-.756z', clip-rule='evenodd')
    path#novgorod(fill='#64A651', fill-rule='evenodd', d='M166.237 196.87l-1.733 1.386-1.047 2.723.219 9.015.009.265-.255.082-6.655 2.147-.413 3.098-.037.284-.285.025-2.189.201-.6 2.197-.024.095-.067.064-.966.969 2.273 2.279 4.27 3.089 8.256 2.159.082.02.064.057 2.807 2.459 8.006.688.542-2.944.027-.133.109-.086 1.567-1.207.21-.163.215.154 3.739 2.66.107.077.034.132.816 3.385 4.382 3.585 3.842-.234.15-.008.109.097 5.995 5.339.283-2.737-1.041-3.36-2.721-2.963-.187-.203.15-.232 2.588-4.004-.463-4.404-2.384-4.655-.057-.113.025-.121.647-3.254-2.275-.31-.24-.032-.058-.236-.537-2.155-4.073-.112-.204-.006-.097-.178-1.208-2.177-.094-.169.09-.17 1.037-1.961-.214-2.564-3.149-1.055-.932 1.246-.122.163-.203-.022-2.172-.243-.113-.011-.086-.075-2.17-1.947-3.455.461-.238.031-.12-.208-1.995-3.528-2.277-1.085-3.943 1.976-.376.187-.123-.403-1.052-3.327z', clip-rule='evenodd')
    path#pskov(fill='#64A651', fill-rule='evenodd', d='M165.152 179.225l-3.717.422-5.949 4.607-3.455 4.798-6.717-.384-4.03 6.718-4.798.576-.193 5.18-7.1 4.607.384 6.718 2.879 3.647-3.263 4.032.767 3.262 4.604 1.152.96 4.797-1.451 2.591.301.044 3.047-.785.132-.034.121.064 1.6.846 5.884-1.133 2.322-3.591 1.316-5.475.023-.103.069-.07 3.7-3.699.639-2.344.067-.238.247-.023 2.152-.196.406-3.039.028-.225.215-.069 6.616-2.134-.216-8.816-.001-.069.025-.066 1.108-2.884.034-.09.075-.06 2.131-1.705 2.133-6.608-2.793-4.514-.049-.078-.004-.094-.249-5.535z', clip-rule='evenodd')
    path#leningrad(fill='#4E8240', fill-rule='evenodd', d='M201.559 169.816l-6.342.235-7.871 2.879-.382 6.333.764 2.879-2.301 1.921-1.729-4.416-3.07-.191-4.798-4.608-5.948 3.84-4.02.456.249 5.491 2.83 4.575.088.141-.052.156-2.181 6.76 1.047 3.318 3.727-1.866.158-.078.155.075 2.534 1.209.1.046.054.101 1.934 3.417 3.382-.454.161-.019.122.109 2.208 1.979 1.855.206 1.116-1.493.244.081 3.62 1.21.225.072.019.237.242 2.901.008.103-.05.091-.995 1.887 1.014 1.827 4.14.118.272.004.064.265.546 2.183 2.411.328.378.053-.77 3.879 2.351 4.602.032.061.006.064.428 4.066 3.152-1.684.093-.051.101.009 6.03.464 3.634-7.635.036-.077.072-.054 5.791-4.353.047-.035.054-.019 3.617-1.209.059-.017h.06l5.062.117 2.642-2.117-4.892-6.383-3.123-.581-.213-.039-.065-.209-1.484-4.918-1.952.186-.328 2.976-.046.399-.39-.088-1.568-.364-.152-.036-.076-.134-1.188-2.054-1.543.456-.223 3.498-.028.416-.406-.092-2.173-.482-.169-.038-.075-.157-1.23-2.574-6.043.117-.192.004-.111-.16-2.424-3.591h-5.892l-.107-.131-1.569-1.936-.184-.227.184-.225 9.807-11.863-.57-12.142z', clip-rule='evenodd')

    g(pointer-events='none')
      g
        g(id='Licencing')
          path(fill='#fff', fill-rule='evenodd', d='M1114 305c2.21 0 4-1.792 4-4.001 0-2.207-1.79-3.999-4-3.999s-4 1.792-4 3.999c0 2.209 1.79 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological')
          path(fill='#fff', fill-rule='evenodd', d='M1123 305h8v-8h-8v8z', clip-rule='evenodd')
      g
        g(id='Licencing_2')
          path(fill='#fff', fill-rule='evenodd', d='M1024 572c2.21 0 4-1.792 4-4.001 0-2.207-1.79-3.999-4-3.999s-4 1.792-4 3.999c0 2.209 1.79 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_2')
          path(fill='#fff', fill-rule='evenodd', d='M1033 572h8v-8h-8v8z', clip-rule='evenodd')
      g
        g(id='Licencing_3')
          path(fill='#fff', fill-rule='evenodd', d='M641 505c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_3')
          path(fill='#fff', fill-rule='evenodd', d='M650 505h8v-8h-8v8z', clip-rule='evenodd')
      g
        g(id='Licencing_4')
          path#Vector_7(fill='#fff', fill-rule='evenodd', d='M141 209c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_4')
          path#Vector_8(fill='#fff', fill-rule='evenodd', d='M150 209h8v-8h-8v8z', clip-rule='evenodd')
      g
        g(id='Licencing_5')
          path#Vector_9(fill='#fff', fill-rule='evenodd', d='M169 221c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_5')
          path#Vector_10(fill='#fff', fill-rule='evenodd', d='M178 221h8v-8h-8v8z', clip-rule='evenodd')
      g(id='Geological_6')
        path#Vector_11(fill='#fff', fill-rule='evenodd', d='M146 300h8v-8h-8v8z', clip-rule='evenodd')
      g(id='Geological_7')
        path#Vector_12(fill='#fff', fill-rule='evenodd', d='M109 332h8v-8h-8v8z', clip-rule='evenodd')
      g(id='Geological_8')
        path#Vector_13(fill='#fff', fill-rule='evenodd', d='M109 307h8v-8h-8v8z', clip-rule='evenodd')
      g#types-group_6
        g(id='Licencing_6')
          path#Vector_14(fill='#fff', fill-rule='evenodd', d='M272 424c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_9')
          path#Vector_15(fill='#fff', fill-rule='evenodd', d='M281 424h8v-8h-8v8z', clip-rule='evenodd')
      g#types-group_7
        g(id='Licencing_7')
          path#Vector_16(fill='#fff', fill-rule='evenodd', d='M319 339c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_10')
          path#Vector_17(fill='#fff', fill-rule='evenodd', d='M328 339h8v-8h-8v8z', clip-rule='evenodd')
      g#types-group_8
        g(id='Licencing_8')
          path#Vector_18(fill='#fff', fill-rule='evenodd', d='M153 241c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_11')
          path#Vector_19(fill='#fff', fill-rule='evenodd', d='M162 241h8v-8h-8v8z', clip-rule='evenodd')
      g#types-group_9
        g(id='Licencing_9')
          path#Vector_20(fill='#fff', fill-rule='evenodd', d='M166 276c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_12')
          path#Vector_21(fill='#fff', fill-rule='evenodd', d='M175 276h8v-8h-8v8z', clip-rule='evenodd')
      g(id='Type / Geological_4')
        path#Vector_8(fill='#fff', fill-rule='evenodd', d='M808 479h8v-8h-8v8z', clip-rule='evenodd')
      g(id='Type / Licencing_4')
        path#Vector_7(fill='#fff', fill-rule='evenodd', d='M808 538c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
      g(id='Geological_13')
        path#Vector_22(fill='#fff', fill-rule='evenodd', d='M208 294h8v-8h-8v8z', clip-rule='evenodd')
      g(id='Geological_14')
        path#Vector_23(fill='#fff', fill-rule='evenodd', d='M135 279h8v-8h-8v8z', clip-rule='evenodd')
      g(id='Licencing_10')
        path#Vector_24(fill='#fff', fill-rule='evenodd', d='M20 346c2.2095 0 4-1.792 4-4.001 0-2.207-1.7905-3.999-4-3.999-2.2082 0-4 1.792-4 3.999 0 2.209 1.7918 4.001 4 4.001z', clip-rule='evenodd')
      g(id='Licencing_11')
        path#Vector_25(fill='#fff', fill-rule='evenodd', d='M143 452c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
      g(id='Licencing_12')
        path#Vector_26(fill='#fff', fill-rule='evenodd', d='M192 361c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
      g(id='Geological_15')
        path#Vector_27(fill='#fff', fill-rule='evenodd', d='M461 521h8v-8h-8v8z', clip-rule='evenodd')
      g#types-group_10
        g(id='Licencing_13')
          path#Vector_28(fill='#fff', fill-rule='evenodd', d='M866 481c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_16')
          path#Vector_29(fill='#fff', fill-rule='evenodd', d='M875 481h8v-8h-8v8z', clip-rule='evenodd')
        g(id='Approval')
          path#Vector_30(fill='#fff', fill-rule='evenodd', d='M888 477l5 5 5-5-5-5-5 5z', clip-rule='evenodd')
        g(id='Engineering')
          path#Vector_31(fill='#fff', fill-rule='evenodd', d='M906.454 475.292l-3.454.528 2.498 2.562-.59 3.618 3.091-1.708 3.09 1.708-.591-3.618L913 475.82l-3.455-.528-1.546-3.292-1.545 3.292z', clip-rule='evenodd')
        g(id='Mine')
          path#Vector_32(fill='#fff', fill-rule='evenodd', d='M918 481h10l-5.318-8-4.682 8z', clip-rule='evenodd')
        g(id='Recultivation')
          path#Vector_33(fill='#fff', fill-rule='evenodd', d='M933 473l5.318 8 4.682-8h-10z', clip-rule='evenodd')
      g#types-group_11
        g(id='Licencing_14')
          path#Vector_34(fill='#fff', fill-rule='evenodd', d='M753 495c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_17')
          path#Vector_35(fill='#fff', fill-rule='evenodd', d='M762 495h8v-8h-8v8z', clip-rule='evenodd')
        g(id='Approval_2')
          path#Vector_36(fill='#fff', fill-rule='evenodd', d='M775 491l5 5 5-5-5-5-5 5z', clip-rule='evenodd')
        g(id='Engineering_2')
          path#Vector_37(fill='#fff', fill-rule='evenodd', d='M793.454 489.292l-3.454.528 2.498 2.562-.59 3.618 3.091-1.708 3.09 1.708-.591-3.618L800 489.82l-3.455-.528-1.546-3.292-1.545 3.292z', clip-rule='evenodd')
      g#types-group_12
        g(id='Licencing_15')
          path#Vector_38(fill='#fff', fill-rule='evenodd', d='M968 495c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_18')
          path#Vector_39(fill='#fff', fill-rule='evenodd', d='M977 495h8v-8h-8v8z', clip-rule='evenodd')
        g(id='Approval_3')
          path#Vector_40(fill='#fff', fill-rule='evenodd', d='M990 491l5 5 5-5-5-5-5 5z', clip-rule='evenodd')
        g(id='Engineering_3')
          path#Vector_41(fill='#fff', fill-rule='evenodd', d='M1008.45 489.292l-3.45.528 2.5 2.562-.59 3.618 3.09-1.708 3.09 1.708-.59-3.618 2.5-2.562-3.46-.528L1010 486l-1.55 3.292z', clip-rule='evenodd')
        g(id='Mine_2')
          path#Vector_42(fill='#fff', fill-rule='evenodd', d='M1020 495h10l-5.32-8-4.68 8z', clip-rule='evenodd')
        g(id='Recultivation_2')
          path#Vector_43(fill='#fff', fill-rule='evenodd', d='M1035 487l5.32 8 4.68-8h-10z', clip-rule='evenodd')
      g(id='Mine_3')
        path#Vector_44(fill='#fff', fill-rule='evenodd', d='M237 417h10l-5.318-8-4.682 8z', clip-rule='evenodd')
      g#types-group_13
        g(id='Licencing_16')
          path#Vector_45(fill='#fff', fill-rule='evenodd', d='M766 387c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_19')
          path#Vector_46(fill='#fff', fill-rule='evenodd', d='M775 387h8v-8h-8v8z', clip-rule='evenodd')
        g(id='Approval_4')
          path#Vector_47(fill='#fff', fill-rule='evenodd', d='M788 383l5 5 5-5-5-5-5 5z', clip-rule='evenodd')
        g(id='Engineering_4')
          path#Vector_48(fill='#fff', fill-rule='evenodd', d='M806.454 381.292l-3.454.528 2.498 2.562-.59 3.618 3.091-1.708 3.09 1.708-.591-3.618L813 381.82l-3.455-.528-1.546-3.292-1.545 3.292z', clip-rule='evenodd')
      g#types-group_14
        g(id='Licencing_17')
          path#Vector_49(fill='#fff', fill-rule='evenodd', d='M125 260c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_20')
          path#Vector_50(fill='#fff', fill-rule='evenodd', d='M134 260h8v-8h-8v8z', clip-rule='evenodd')
        g(id='Engineering_5')
          path#Vector_51(fill='#fff', fill-rule='evenodd', d='M150.454 254.292l-3.454.528 2.498 2.562-.59 3.618 3.091-1.708 3.09 1.708-.591-3.618L157 254.82l-3.455-.528-1.546-3.292-1.545 3.292z', clip-rule='evenodd')
      g#types-group_15
        g(id='Geological_21')
          path#Vector_52(fill='#fff', fill-rule='evenodd', d='M312 288h8v-8h-8v8z', clip-rule='evenodd')
        g(id='Approval_5')
          path#Vector_53(fill='#fff', fill-rule='evenodd', d='M325 284l5 5 5-5-5-5-5 5z', clip-rule='evenodd')
      g#types-group_16
        g(id='Licencing_18')
          path#Vector_54(fill='#fff', fill-rule='evenodd', d='M200 212c2.209 0 4-1.792 4-4.001 0-2.207-1.791-3.999-4-3.999-2.208 0-4 1.792-4 3.999 0 2.209 1.792 4.001 4 4.001z', clip-rule='evenodd')
        g(id='Geological_22')
          path#Vector_55(fill='#fff', fill-rule='evenodd', d='M209 212h8v-8h-8v8z', clip-rule='evenodd')
      g(id='Engineering_6')
        path#Vector_56(fill='#fff', fill-rule='evenodd', d='M178.454 188.292l-3.454.528 2.498 2.562-.59 3.618 3.091-1.708 3.09 1.708-.591-3.618L185 188.82l-3.455-.528-1.546-3.292-1.545 3.292z', clip-rule='evenodd')
      g#types-group_17
        g(id='Geological_23')
          path#Vector_57(fill='#fff', fill-rule='evenodd', d='M426 297h8v-8h-8v8z', clip-rule='evenodd')
        g(id='Engineering_7')
          path#Vector_58(fill='#fff', fill-rule='evenodd', d='M442.454 291.292l-3.454.528 2.498 2.562-.59 3.618 3.091-1.708 3.09 1.708-.591-3.618L449 291.82l-3.455-.528-1.546-3.292-1.545 3.292z', clip-rule='evenodd')
      g#types-group_18
        g(id='Geological_24')
          path#Vector_59(fill='#fff', fill-rule='evenodd', d='M197 269h8v-8h-8v8z', clip-rule='evenodd')
        g(id='Engineering_8')
          path#Vector_60(fill='#fff', fill-rule='evenodd', d='M213.454 263.292l-3.454.528 2.498 2.562-.59 3.618 3.091-1.708 3.09 1.708-.591-3.618L220 263.82l-3.455-.528-1.546-3.292-1.545 3.292z', clip-rule='evenodd')
      g#types-group_19
        g(id='Geological_25')
          path#Vector_61(fill='#fff', fill-rule='evenodd', d='M447 477h8v-8h-8v8z', clip-rule='evenodd')
        g(id='Engineering_9')
          path#Vector_62(fill='#fff', fill-rule='evenodd', d='M463.454 471.292l-3.454.528 2.498 2.562-.59 3.618 3.091-1.708 3.09 1.708-.591-3.618L470 471.82l-3.455-.528-1.546-3.292-1.545 3.292z', clip-rule='evenodd')
      g(id='Engineering_10')
        path#Vector_63(fill='#fff', fill-rule='evenodd', d='M268.454 320.292l-3.454.528 2.498 2.562-.59 3.618 3.091-1.708 3.09 1.708-.591-3.618L275 320.82l-3.455-.528-1.546-3.292-1.545 3.292z', clip-rule='evenodd')
